### Word Gnome Process

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import re
import glob
from pathlib import Path
import shutil
from os.path import isfile, join

In [2]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
#lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [3]:
path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
Lemma Stem POS/Result/3-Word Gnome Process"

Path(path).mkdir(parents=True, exist_ok=True)

In [4]:
def lower_strip_func(x):
    try:
        var_low = str(x).lower()
        var_out = var_low.strip()
    except:
        var_out = x
    return var_out

#### Word Gnome Data

In [5]:
df_gnome_objects = pd.read_json(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Word Gnome/objects.json")
df_gnome_objects

,image_id,objects,image_url,merged_object_ids
0,1,"[{'synsets': ['tree.n.01'], 'h': 557, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
1,2,"[{'synsets': ['road.n.01'], 'h': 254, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
2,3,"[{'synsets': ['booth.n.02'], 'h': 389, 'object...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
3,4,"[{'synsets': ['floor.n.01'], 'h': 168, 'object...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
4,5,"[{'synsets': ['room.n.01'], 'h': 599, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
...,...,...,...,...
108072,2417992,"[{'synsets': [], 'h': 111, 'object_id': 378678...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108073,2417993,"[{'synsets': ['beach.n.01'], 'h': 194, 'object...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108074,2417994,"[{'synsets': ['bell.n.01'], 'h': 14, 'object_i...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108075,2417995,"[{'synsets': ['barroom.n.01'], 'h': 29, 'objec...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108076,2417997,"[{'synsets': ['bus.n.01'], 'h': 182, 'object_i...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN

In [6]:
df_gnome_attributes = pd.read_json(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Word Gnome/attributes.json")
df_gnome_attributes

        image_id                                         attributes
0              1  [{'synsets': ['clock.n.01'], 'h': 339, 'object...
1              2  [{'synsets': [], 'h': 103, 'object_id': 5069, ...
2              3  [{'synsets': [], 'h': 79, 'object_id': 5091, '...
3              4  [{'synsets': ['curtain.n.01'], 'h': 300, 'obje...
4              5  [{'synsets': ['floor.n.01'], 'h': 108, 'object...
...          ...                                                ...
108072   2417992  [{'synsets': ['train.n.01'], 'h': 322, 'object...
108073   2417993  [{'synsets': ['foot.n.01'], 'h': 84, 'object_i...
108074   2417994  [{'synsets': ['sheep.n.01'], 'h': 137, 'object...
108075   2417995  [{'synsets': ['window.n.01'], 'h': 50, 'object...
108076   2417997  [{'synsets': ['distance.n.01'], 'h': 111, 'obj...

[108077 rows x 2 columns]

In [7]:
df_gnome_relationships = pd.read_json(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Word Gnome/relationships.json")
df_gnome_relationships

                                            relationships  image_id
0       [{'predicate': 'ON', 'object': {'h': 290, 'obj...         1
1       [{'predicate': 'wears', 'object': {'name': 'ba...         2
2       [{'predicate': 'in front of', 'object': {'name...         3
3       [{'predicate': 'has', 'object': {'name': 'padd...         4
4       [{'predicate': 'ON', 'object': {'name': 'floor...         5
...                                                   ...       ...
108072  [{'predicate': 'on top of', 'object': {'name':...   2417992
108073  [{'predicate': 'has a', 'object': {'name': 'gu...   2417993
108074  [{'predicate': 'standing in', 'object': {'name...   2417994
108075  [{'predicate': 'ON', 'object': {'name': 'train...   2417995
108076  [{'predicate': 'IN', 'object': {'name': 'dista...   2417997

[108077 rows x 2 columns]

In [9]:
df_gnome_objects.loc[0,"objects"]

[{'synsets': ['tree.n.01'],
  'h': 557,
  'object_id': 1058549,
  'merged_object_ids': [],
  'names': ['trees'],
  'w': 799,
  'y': 0,
  'x': 0},
 {'synsets': ['sidewalk.n.01'],
  'h': 290,
  'object_id': 1058534,
  'merged_object_ids': [5046],
  'names': ['sidewalk'],
  'w': 722,
  'y': 308,
  'x': 78},
 {'synsets': ['building.n.01'],
  'h': 538,
  'object_id': 1058508,
  'merged_object_ids': [],
  'names': ['building'],
  'w': 222,
  'y': 0,
  'x': 1},
 {'synsets': ['street.n.01'],
  'h': 258,
  'object_id': 1058539,
  'merged_object_ids': [3798578],
  'names': ['street'],
  'w': 359,
  'y': 283,
  'x': 439},
 {'synsets': ['wall.n.01'],
  'h': 535,
  'object_id': 1058543,
  'merged_object_ids': [],
  'names': ['wall'],
  'w': 135,
  'y': 1,
  'x': 0},
 {'synsets': ['tree.n.01'],
  'h': 360,
  'object_id': 1058545,
  'merged_object_ids': [],
  'names': ['tree'],
  'w': 476,
  'y': 0,
  'x': 178},
 {'synsets': ['shade.n.01'],
  'h': 189,
  'object_id': 5045,
  'merged_object_ids': [],
  'names': ['shade'],
  'w': 274,
  'y': 344,
  'x': 116},
 {'synsets': ['van.n.05'],
  'h': 176,
  'object_id': 1058542,
  'merged_object_ids': [1058536],
  'names': ['van'],
  'w': 241,
  'y': 278,
  'x': 533},
 {'synsets': ['trunk.n.01'],
  'h': 348,
  'object_id': 5055,
  'merged_object_ids': [],
  'names': ['tree trunk'],
  'w': 78,
  'y': 213,
  'x': 623},
 {'synsets': ['clock.n.01'],
  'h': 363,
  'object_id': 1058498,
  'merged_object_ids': [],
  'names': ['clock'],
  'w': 77,
  'y': 63,
  'x': 422},
 {'synsets': ['window.n.01'],
  'h': 147,
  'object_id': 3798579,
  'merged_object_ids': [],
  'names': ['windows'],
  'w': 198,
  'y': 1,
  'x': 602},
 {'synsets': ['man.n.01'],
  'h': 248,
  'object_id': 3798576,
  'merged_object_ids': [1058540],
  'names': ['man'],
  'w': 82,
  'y': 264,
  'x': 367},
 {'synsets': ['man.n.01'],
  'h': 259,
  'object_id': 3798577,
  'merged_object_ids': [],
  'names': ['man'],
  'w': 57,
  'y': 254,
  'x': 238},
 {'synsets': [],
  'h': 430,
  'object_id': 1058548,
  'merged_object_ids': [],
  'names': ['lamp post'],
  'w': 43,
  'y': 63,
  'x': 537},
 {'synsets': ['sign.n.02'],
  'h': 179,
  'object_id': 1058507,
  'merged_object_ids': [],
  'names': ['sign'],
  'w': 78,
  'y': 13,
  'x': 123},
 {'synsets': ['car.n.01'],
  'h': 164,
  'object_id': 1058515,
  'merged_object_ids': [],
  'names': ['car'],
  'w': 80,
  'y': 342,
  'x': 719},
 {'synsets': ['back.n.01'],
  'h': 164,
  'object_id': 5060,
  'merged_object_ids': [],
  'names': ['back'],
  'w': 70,
  'y': 345,
  'x': 716},
 {'synsets': ['jacket.n.01'],
  'h': 98,
  'object_id': 1058530,
  'merged_object_ids': [],
  'names': ['jacket'],
  'w': 82,
  'y': 296,
  'x': 367},
 {'synsets': ['car.n.01'],
  'h': 95,
  'object_id': 5049,
  'merged_object_ids': [],
  'names': ['car'],
  'w': 78,
  'y': 319,
  'x': 478},
 {'synsets': ['trouser.n.01'],
  'h': 128,
  'object_id': 1058531,
  'merged_object_ids': [],
  'names': ['pants'],
  'w': 48,
  'y': 369,
  'x': 388},
 {'synsets': ['shirt.n.01'],
  'h': 103,
  'object_id': 1058511,
  'merged_object_ids': [],
  'names': ['shirt'],
  'w': 54,
  'y': 287,
  'x': 241},
 {'synsets': ['parking_meter.n.01'],
  'h': 143,
  'object_id': 1058519,
  'merged_object_ids': [],
  'names': ['parking meter'],
  'w': 26,
  'y': 325,
  'x': 577},
 {'synsets': ['trouser.n.01'],
  'h': 118,
  'object_id': 1058528,
  'merged_object_ids': [],
  'names': ['pants'],
  'w': 44,
  'y': 384,
  'x': 245},
 {'synsets': ['shirt.n.01'],
  'h': 102,
  'object_id': 1058547,
  'merged_object_ids': [],
  'names': ['shirt'],
  'w': 82,
  'y': 295,
  'x': 368},
 {'synsets': ['shoe.n.01'],
  'h': 28,
  'object_id': 1058525,
  'merged_object_ids': [5048],
  'names': ['shoes'],
  'w': 48,
  'y': 485,
  'x': 388},
 {'synsets': ['arm.n.01'],
  'h': 41,
  'object_id': 1058546,
  'merged_object_ids': [],
  'names': ['arm'],
  'w': 30,
  'y': 285,
  'x': 370},
 {'synsets': ['bicycle.n.01'],
  'h': 36,
  'object_id': 1058535,
  'merged_object_ids': [],
  'names': ['bike'],
  'w': 27,
  'y': 319,
  'x': 337},
 {'synsets': ['bicycle.n.01'],
  'h': 41,
  'object_id': 5051,
  'merged_object_ids': [],
  'names': ['bike'],
  'w': 27,
  'y': 311,
  'x': 321},
 {'synsets': ['headlight.n.01'],
  'h': 9,
  'object_id': 5050,
  'merged_object_ids': [],
  'names': ['headlight'],
  'w': 18,
  'y': 370,
  'x': 517},
 {'synsets': ['spectacles.n.01'],
  'h': 23,
  'object_id': 1058518,
  'merged_object_ids': [],
  'names': ['glasses'],
  'w': 43,
  'y': 317,
  'x': 448},
 {'synsets': ['chin.n.01'],
  'h': 8,
  'object_id': 1058541,
  'merged_object_ids': [],
  'names': ['chin'],
  'w': 9,
  'y': 288,
  'x': 401}]

In [10]:
df_gnome_attributes.loc[0,"attributes"]

[{'synsets': ['clock.n.01'],
  'h': 339,
  'object_id': 1058498,
  'names': ['clock'],
  'w': 79,
  'attributes': ['green', 'tall'],
  'y': 91,
  'x': 421},
 {'synsets': ['street.n.01'],
  'h': 262,
  'object_id': 5046,
  'names': ['street'],
  'w': 714,
  'attributes': ['sidewalk'],
  'y': 328,
  'x': 77},
 {'synsets': ['shade.n.01'],
  'h': 192,
  'object_id': 5045,
  'names': ['shade'],
  'w': 274,
  'y': 338,
  'x': 119},
 {'synsets': ['man.n.01'],
  'h': 262,
  'object_id': 1058529,
  'names': ['man'],
  'w': 60,
  'y': 249,
  'x': 238},
 {'synsets': ['gym_shoe.n.01'],
  'h': 26,
  'object_id': 5048,
  'names': ['sneakers'],
  'w': 52,
  'attributes': ['grey'],
  'y': 489,
  'x': 243},
 {'synsets': ['headlight.n.01'],
  'h': 15,
  'object_id': 5050,
  'names': ['headlight'],
  'w': 23,
  'attributes': ['off'],
  'y': 366,
  'x': 514},
 {'synsets': ['car.n.01'],
  'h': 98,
  'object_id': 5049,
  'names': ['car'],
  'w': 74,
  'y': 315,
  'x': 479},
 {'synsets': ['bicycle.n.01'],
  'h': 34,
  'object_id': 5051,
  'names': ['bike'],
  'w': 28,
  'attributes': ['parked', 'far away'],
  'y': 319,
  'x': 318},
 {'synsets': ['bicycle.n.01'],
  'h': 35,
  'object_id': 1058535,
  'names': ['bike'],
  'w': 29,
  'attributes': ['parked', 'far away', 'chained'],
  'y': 319,
  'x': 334},
 {'synsets': ['sign.n.02'],
  'h': 182,
  'object_id': 1058507,
  'names': ['sign'],
  'w': 88,
  'attributes': ['black'],
  'y': 13,
  'x': 118},
 {'synsets': ['building.n.01'],
  'h': 536,
  'object_id': 1058508,
  'names': ['building'],
  'w': 218,
  'attributes': ['tall', 'brick', 'made of bricks'],
  'y': 2,
  'x': 1},
 {'synsets': ['trunk.n.01'],
  'h': 327,
  'object_id': 5055,
  'names': ['tree trunk'],
  'w': 87,
  'y': 234,
  'x': 622},
 {'synsets': ['sidewalk.n.01'],
  'h': 266,
  'object_id': 1058534,
  'names': ['sidewalk'],
  'w': 722,
  'attributes': ['brick'],
  'y': 331,
  'x': 77},
 {'synsets': ['shirt.n.01'],
  'h': 101,
  'object_id': 1058511,
  'names': ['shirt'],
  'w': 59,
  'attributes': ['red', 'orange'],
  'y': 289,
  'x': 241},
 {'synsets': ['street.n.01'],
  'h': 233,
  'object_id': 1058539,
  'names': ['street'],
  'w': 440,
  'attributes': ['clean'],
  'y': 283,
  'x': 358},
 {'synsets': ['car.n.01'],
  'h': 174,
  'object_id': 1058515,
  'names': ['car'],
  'w': 91,
  'attributes': ['white', 'parked'],
  'y': 342,
  'x': 708},
 {'synsets': ['back.n.01'],
  'h': 170,
  'object_id': 5060,
  'names': ['back'],
  'w': 67,
  'y': 339,
  'x': 721},
 {'synsets': ['spectacles.n.01'],
  'h': 12,
  'object_id': 1058518,
  'names': ['glasses'],
  'w': 20,
  'y': 268,
  'x': 271},
 {'synsets': ['parking_meter.n.01'],
  'h': 143,
  'object_id': 1058519,
  'names': ['parking meter'],
  'w': 32,
  'attributes': ['orange'],
  'y': 327,
  'x': 574},
 {'synsets': ['shoe.n.01'],
  'h': 34,
  'object_id': 1058525,
  'names': ['shoes'],
  'w': 46,
  'attributes': ['brown'],
  'y': 481,
  'x': 391},
 {'synsets': ['man.n.01'],
  'h': 251,
  'object_id': 1058532,
  'names': ['man'],
  'w': 75,
  'y': 264,
  'x': 372},
 {'synsets': ['trouser.n.01'],
  'h': 118,
  'object_id': 1058528,
  'names': ['pants'],
  'w': 38,
  'attributes': ['black'],
  'y': 384,
  'x': 245},
 {'synsets': ['jacket.n.01'],
  'h': 97,
  'object_id': 1058530,
  'names': ['jacket'],
  'w': 89,
  'attributes': ['gray', 'grey'],
  'y': 296,
  'x': 356},
 {'synsets': ['trouser.n.01'],
  'h': 128,
  'object_id': 1058531,
  'names': ['pants'],
  'w': 54,
  'attributes': ['gray', 'grey'],
  'y': 369,
  'x': 382},
 {'synsets': [],
  'h': 185,
  'object_id': 1058536,
  'names': ['work truck'],
  'w': 265,
  'attributes': ['white'],
  'y': 271,
  'x': 521},
 {'synsets': ['sidewalk.n.01'],
  'h': 189,
  'object_id': 3798575,
  'names': ['sidewalk'],
  'w': 50,
  'y': 318,
  'x': 343},
 {'synsets': ['chin.n.01'],
  'h': 9,
  'object_id': 1058541,
  'names': ['chin'],
  'w': 11,
  'attributes': ['raised'],
  'y': 288,
  'x': 399},
 {'synsets': ['guy.n.01'],
  'h': 250,
  'object_id': 1058540,
  'names': ['guy'],
  'w': 82,
  'y': 264,
  'x': 369},
 {'synsets': ['van.n.05'],
  'h': 134,
  'object_id': 1058542,
  'names': ['van'],
  'w': 233,
  'attributes': ['parked', 'white'],
  'y': 298,
  'x': 529},
 {'synsets': ['wall.n.01'],
  'h': 533,
  'object_id': 1058543,
  'names': ['wall'],
  'w': 134,
  'attributes': ['grey'],
  'y': 1,
  'x': 0},
 {'synsets': ['tree.n.01'],
  'h': 360,
  'object_id': 1058545,
  'names': ['tree'],
  'w': 176,
  'y': 0,
  'x': 249},
 {'synsets': ['bicycle.n.01'],
  'h': 35,
  'object_id': 1058544,
  'names': ['bikes'],
  'w': 40,
  'y': 319,
  'x': 321},
 {'synsets': ['arm.n.01'],
  'h': 43,
  'object_id': 1058546,
  'names': ['arm'],
  'w': 32,
  'attributes': ['raised'],
  'y': 283,
  'x': 368},
 {'synsets': ['shirt.n.01'],
  'h': 66,
  'object_id': 1058547,
  'names': ['shirt'],
  'w': 37,
  'attributes': ['grey'],
  'y': 306,
  'x': 384},
 {'synsets': ['man.n.01'],
  'h': 248,
  'object_id': 3798576,
  'names': ['man'],
  'w': 97,
  'y': 264,
  'x': 362},
 {'synsets': ['man.n.01'],
  'h': 264,
  'object_id': 3798577,
  'names': ['man'],
  'w': 72,
  'y': 251,
  'x': 230},
 {'synsets': ['road.n.01'],
  'h': 218,
  'object_id': 3798578,
  'names': ['road'],
  'w': 340,
  'y': 295,
  'x': 435},
 {'synsets': [],
  'h': 430,
  'object_id': 1058548,
  'names': ['lamp post'],
  'w': 41,
  'y': 63,
  'x': 537},
 {'synsets': ['tree.n.01'],
  'h': 557,
  'object_id': 1058549,
  'names': ['trees'],
  'w': 606,
  'attributes': ['sparse'],
  'y': 0,
  'x': 190},
 {'synsets': ['window.n.01'],
  'h': 148,
  'object_id': 3798579,
  'names': ['windows'],
  'w': 173,
  'y': 4,
  'x': 602}]

In [11]:
df_gnome_relationships.loc[0,"relationships"]

[{'predicate': 'ON',
  'object': {'h': 290,
   'object_id': 1058534,
   'merged_object_ids': [5046],
   'synsets': ['sidewalk.n.01'],
   'w': 722,
   'y': 308,
   'x': 78,
   'names': ['sidewalk']},
  'relationship_id': 15927,
  'synsets': ['along.r.01'],
  'subject': {'name': 'shade',
   'h': 192,
   'synsets': ['shade.n.01'],
   'object_id': 5045,
   'w': 274,
   'y': 338,
   'x': 119}},
 {'predicate': 'wears',
  'object': {'h': 28,
   'object_id': 1058525,
   'merged_object_ids': [5048],
   'synsets': ['shoe.n.01'],
   'w': 48,
   'y': 485,
   'x': 388,
   'names': ['shoes']},
  'relationship_id': 15928,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'headlight',
   'h': 15,
   'synsets': ['headlight.n.01'],
   'object_id': 5050,
   'w': 23,
   'y': 366,
   'x': 514},
  'relationship_id': 15929,
  'synsets': ['have.v.01'],
  'subject': {'name': 'car',
   'h': 98,
   'synsets': ['car.n.01'],
   'object_id': 5049,
   'w': 74,
   'y': 315,
   'x': 479}},
 {'predicate': 'ON',
  'object': {'name': 'building',
   'h': 536,
   'synsets': ['building.n.01'],
   'object_id': 1058508,
   'w': 218,
   'y': 2,
   'x': 1},
  'relationship_id': 15930,
  'synsets': ['along.r.01'],
  'subject': {'name': 'sign',
   'h': 182,
   'synsets': ['sign.n.02'],
   'object_id': 1058507,
   'w': 88,
   'y': 13,
   'x': 118}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15931,
  'synsets': ['along.r.01'],
  'subject': {'name': 'tree trunk',
   'h': 327,
   'synsets': ['trunk.n.01'],
   'object_id': 5055,
   'w': 87,
   'y': 234,
   'x': 622}},
 {'predicate': 'has',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 15932,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'next to',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15933,
  'synsets': ['next.r.01'],
  'subject': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77}},
 {'predicate': 'has',
  'object': {'name': 'back',
   'h': 170,
   'synsets': ['back.n.01'],
   'object_id': 5060,
   'w': 67,
   'y': 339,
   'x': 721},
  'relationship_id': 15934,
  'synsets': ['have.v.01'],
  'subject': {'name': 'car',
   'h': 174,
   'synsets': ['car.n.01'],
   'object_id': 1058515,
   'w': 91,
   'y': 342,
   'x': 708}},
 {'predicate': 'has',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 15935,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15936,
  'synsets': ['along.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'wears',
  'object': {'h': 28,
   'object_id': 1058525,
   'merged_object_ids': [5048],
   'synsets': ['shoe.n.01'],
   'w': 48,
   'y': 485,
   'x': 388,
   'names': ['shoes']},
  'relationship_id': 15937,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'shoes',
   'h': 34,
   'synsets': ['shoe.n.01'],
   'object_id': 1058525,
   'w': 46,
   'y': 481,
   'x': 391},
  'relationship_id': 15938,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'has',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 15939,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'wears',
  'object': {'name': 'pants',
   'h': 118,
   'synsets': ['trouser.n.01'],
   'object_id': 1058528,
   'w': 38,
   'y': 384,
   'x': 245},
  'relationship_id': 15940,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'jacket',
   'h': 97,
   'synsets': ['jacket.n.01'],
   'object_id': 1058530,
   'w': 89,
   'y': 296,
   'x': 356},
  'relationship_id': 15941,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'has',
  'object': {'name': 'pants',
   'h': 128,
   'synsets': ['trouser.n.01'],
   'object_id': 1058531,
   'w': 54,
   'y': 369,
   'x': 382},
  'relationship_id': 15942,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'parked on',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15943,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 34,
   'synsets': ['bicycle.n.01'],
   'object_id': 5051,
   'w': 28,
   'y': 319,
   'x': 318}},
 {'predicate': 'parked on',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15944,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058535,
   'w': 29,
   'y': 319,
   'x': 334}},
 {'predicate': 'parked on',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15945,
  'synsets': ['along.r.01'],
  'subject': {'h': 176,
   'object_id': 1058542,
   'merged_object_ids': [1058536],
   'synsets': ['van.n.05'],
   'w': 241,
   'y': 278,
   'x': 533,
   'names': ['van']}},
 {'predicate': 'parked on',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15946,
  'synsets': ['along.r.01'],
  'subject': {'name': 'car',
   'h': 174,
   'synsets': ['car.n.01'],
   'object_id': 1058515,
   'w': 91,
   'y': 342,
   'x': 708}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 189,
   'synsets': ['sidewalk.n.01'],
   'object_id': 3798575,
   'w': 50,
   'y': 318,
   'x': 343},
  'relationship_id': 4265923,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058535,
   'w': 29,
   'y': 319,
   'x': 334}},
 {'predicate': 'behind',
  'object': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372},
  'relationship_id': 3186256,
  'synsets': ['behind.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 3186257,
  'synsets': ['have.v.01'],
  'subject': {'h': 248,
   'object_id': 3798576,
   'merged_object_ids': [1058540],
   'synsets': ['man.n.01'],
   'w': 82,
   'y': 264,
   'x': 367,
   'names': ['man']}},
 {'predicate': 'WEARING',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 3186258,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 3186259,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'near',
  'object': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249},
  'relationship_id': 3186260,
  'synsets': ['about.r.07'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'WEARING',
  'object': {'name': 'shoes',
   'h': 34,
   'synsets': ['shoe.n.01'],
   'object_id': 1058525,
   'w': 46,
   'y': 481,
   'x': 391},
  'relationship_id': 3186261,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'near',
  'object': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249},
  'relationship_id': 3186262,
  'synsets': ['about.r.07'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'ON',
  'object': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238},
  'relationship_id': 3186263,
  'synsets': ['along.r.01'],
  'subject': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 4265924,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 248,
   'synsets': ['man.n.01'],
   'object_id': 3798576,
   'w': 97,
   'y': 264,
   'x': 362}},
 {'predicate': 'WEARING',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 4265925,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 264,
   'synsets': ['man.n.01'],
   'object_id': 3798577,
   'w': 72,
   'y': 251,
   'x': 230}},
 {'predicate': 'along',
  'object': {'h': 258,
   'object_id': 1058539,
   'merged_object_ids': [3798578],
   'synsets': ['street.n.01'],
   'w': 359,
   'y': 283,
   'x': 439,
   'names': ['street']},
  'relationship_id': 4265926,
  'synsets': ['along.r.01'],
  'subject': {'name': 'lamp post',
   'h': 430,
   'synsets': [],
   'object_id': 1058548,
   'w': 41,
   'y': 63,
   'x': 537}},
 {'predicate': 'IN',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 3186264,
  'synsets': ['in.r.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'WEARING',
  'object': {'name': 'pants',
   'h': 118,
   'synsets': ['trouser.n.01'],
   'object_id': 1058528,
   'w': 38,
   'y': 384,
   'x': 245},
  'relationship_id': 3186265,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'on top of',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 3186266,
  'synsets': ['along.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'next to',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 3186267,
  'synsets': ['next.r.01'],
  'subject': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249}},
 {'predicate': 'WEARING',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 3186268,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'behind',
  'object': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238},
  'relationship_id': 3186269,
  'synsets': ['behind.r.01'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'by',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 3186270,
  'synsets': ['by.r.01'],
  'subject': {'name': 'trees',
   'h': 557,
   'synsets': ['tree.n.01'],
   'object_id': 1058549,
   'w': 606,
   'y': 0,
   'x': 190}},
 {'predicate': 'WEARING',
  'object': {'name': 'jacket',
   'h': 97,
   'synsets': ['jacket.n.01'],
   'object_id': 1058530,
   'w': 89,
   'y': 296,
   'x': 356},
  'relationship_id': 3186271,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'with',
  'object': {'name': 'windows',
   'h': 148,
   'synsets': ['window.n.01'],
   'object_id': 3798579,
   'w': 173,
   'y': 4,
   'x': 602},
  'relationship_id': 4265927,
  'synsets': [],
  'subject': {'name': 'building',
   'h': 536,
   'synsets': ['building.n.01'],
   'object_id': 1058508,
   'w': 218,
   'y': 2,
   'x': 1}}]

##### Object Data Analysis

In [ ]:
object_data = zip(df_gnome_objects["image_id"],df_gnome_objects["objects"],df_gnome_objects["image_url"])

In [ ]:
# First Way Too Slow
df_object_result = pd.DataFrame()
for image_id, objects, image_url in object_data:
    image_id_list = []
    names_list = []
    object_id_list = []
    synsets_list = []
    height_list = []
    width_list = []
    x_koor_list = []
    y_koor_list = []
    image_url_list = []
    for dict in objects:
        names = dict["names"]
        object_id = dict["object_id"]
        synsets = dict["synsets"]
        height = dict["h"]
        width = dict["w"]
        x_koor = dict["x"]
        y_koor = dict["y"]
        image_id_list.append(int(image_id))
        names_list.append(names)
        object_id_list.append(int(object_id))
        synsets_list.append(synsets)
        height_list.append(int(height))
        width_list.append(int(width))
        x_koor_list.append(int(x_koor))
        y_koor_list.append(int(y_koor))
        image_url_list.append(image_url)
    df_var = pd.DataFrame({"image_id":image_id_list,"names":names_list,"object_id":object_id_list,"synsets":synsets_list,"height":height_list,"width":width_list,"x_koor":x_koor_list,"y_koor":y_koor_list,"image_url":image_url_list})
    df_object_result = pd.concat([df_object_result,df_var], axis=0)
    
df_object_result.reset_index(drop=True, inplace=True)
df_object_result

In [ ]:
df_object_result.to_csv("Object_First_Result.csv", index=False)

In [12]:
object_data = zip(df_gnome_objects["image_id"],df_gnome_objects["objects"],df_gnome_objects["image_url"])

In [13]:
# Second Way Too Fast
image_id_list = []
names_list = []
object_id_list = []
synsets_list = []
merged_object_list = []
height_list = []
width_list = []
x_koor_list = []
y_koor_list = []
image_url_list = []
for image_id, objects, image_url in object_data:
    for dict in objects:
        names = dict["names"]
        object_id = dict["object_id"]
        synsets = dict["synsets"]
        merged_object = dict["merged_object_ids"]
        height = dict["h"]
        width = dict["w"]
        x_koor = dict["x"]
        y_koor = dict["y"]
        image_id_list.append(int(image_id))
        names_list.append(names)
        object_id_list.append(int(object_id))
        synsets_list.append(synsets)
        merged_object_list.append(merged_object)
        height_list.append(int(height))
        width_list.append(int(width))
        x_koor_list.append(int(x_koor))
        y_koor_list.append(int(y_koor))
        image_url_list.append(image_url)
    
df_object_result = pd.DataFrame({"image_id":image_id_list,"names":names_list,"object_id":object_id_list,"synsets":synsets_list,"merged_object_ids":merged_object_list,"height":height_list,"width":width_list,"x_koor":x_koor_list,"y_koor":y_koor_list,"image_url":image_url_list})
df_object_result

,image_id,names,object_id,synsets,height,width,x_koor,y_koor,image_url
0,1,[trees],1058549,[tree.n.01],557,799,0,0,https://cs.stanford.edu/people/rak248/VG_100K_...
1,1,[sidewalk],1058534,[sidewalk.n.01],290,722,78,308,https://cs.stanford.edu/people/rak248/VG_100K_...
2,1,[building],1058508,[building.n.01],538,222,1,0,https://cs.stanford.edu/people/rak248/VG_100K_...
3,1,[street],1058539,[street.n.01],258,359,439,283,https://cs.stanford.edu/people/rak248/VG_100K_...
4,1,[wall],1058543,[wall.n.01],535,135,0,1,https://cs.stanford.edu/people/rak248/VG_100K_...
...,...,...,...,...,...,...,...,...,...
2516934,2417997,[number],3506171,[numeral.n.01],24,28,188,228,http://crowdfile.blob.core.chinacloudapi.cn/46...
2516935,2417997,[plate],3786799,[plate.n.04],54,89,238,233,http://crowdfile.blob.core.chinacloudapi.cn/46...
2516936,2417997,[road],3103226,[road.n.01],83,90,312,247,http://crowdfile.blob.core.chinacloudapi.cn/46...
2516937,2417997,[road],3094589,[road.n.01],121,495,2,208,http://crowdfile.blob.core.chinacloudapi.cn/46...
2516938,2417997,[sky],3422177,[sky.n.01],170,497,1,2,http://crowdfile.blob.core.chinacloudapi.cn/46...

In [43]:
df_object_result["object_id"].nunique()

2516939

In [44]:
df_object_result["image_id"].nunique()

106284

##### Attributes Data Analysis

In [37]:
attribute_data = zip(df_gnome_attributes["image_id"],df_gnome_attributes["attributes"])

In [39]:
image_id_list = []
names_list = []
object_id_list = []
synsets_list = []
attributes_list = []
height_list = []
width_list = []
x_koor_list = []
y_koor_list = []
for image_id, attributes in attribute_data:
    for dict in attributes:
        names = dict["names"]
        object_id = dict["object_id"]
        synsets = dict["synsets"]
        try:
            attribute_var = dict["attributes"]
        except:
            attribute_var = []
        height = dict["h"]
        width = dict["w"]
        x_koor = dict["x"]
        y_koor = dict["y"]
        image_id_list.append(int(image_id))
        names_list.append(names)
        object_id_list.append(int(object_id))
        synsets_list.append(synsets)
        attributes_list.append(attribute_var)
        height_list.append(int(height))
        width_list.append(int(width))
        x_koor_list.append(int(x_koor))
        y_koor_list.append(int(y_koor))
    
df_attributes_result = pd.DataFrame({"image_id":image_id_list,"names":names_list,"object_id":object_id_list,"synsets":synsets_list,"attributes":attributes_list,"height":height_list,"width":width_list,"x_koor":x_koor_list,"y_koor":y_koor_list})
df_attributes_result

,image_id,names,object_id,synsets,attributes,height,width,x_koor,y_koor
0,1,[clock],1058498,[clock.n.01],"[green, tall]",339,79,421,91
1,1,[street],5046,[street.n.01],[sidewalk],262,714,77,328
2,1,[shade],5045,[shade.n.01],[],192,274,119,338
3,1,[man],1058529,[man.n.01],[],262,60,238,249
4,1,[sneakers],5048,[gym_shoe.n.01],[grey],26,52,243,489
...,...,...,...,...,...,...,...,...,...
3802369,2417997,[sky],3422177,[sky.n.01],"[crystal clear, blue]",170,497,1,2
3802370,2417997,[road],3103226,[road.n.01],[],83,90,312,247
3802371,2417997,[doors],2712437,[door.n.01],[],144,50,98,127
3802372,2417997,[bus],3140197,[bus.n.01],[green],155,225,29,109
3802373,2417997,[door],3561727,[door.n.01],[],113,50,100,130

In [42]:
df_attributes_result["object_id"].nunique()

3802374

In [45]:
df_attributes_result["image_id"].nunique()

107194

##### Relationships Data Analysis

In [68]:
relationships_data = zip(df_gnome_relationships["image_id"],df_gnome_relationships["relationships"])

In [69]:
df_gnome_relationships.loc[0,"relationships"]

[{'predicate': 'ON',
  'object': {'h': 290,
   'object_id': 1058534,
   'merged_object_ids': [5046],
   'synsets': ['sidewalk.n.01'],
   'w': 722,
   'y': 308,
   'x': 78,
   'names': ['sidewalk']},
  'relationship_id': 15927,
  'synsets': ['along.r.01'],
  'subject': {'name': 'shade',
   'h': 192,
   'synsets': ['shade.n.01'],
   'object_id': 5045,
   'w': 274,
   'y': 338,
   'x': 119}},
 {'predicate': 'wears',
  'object': {'h': 28,
   'object_id': 1058525,
   'merged_object_ids': [5048],
   'synsets': ['shoe.n.01'],
   'w': 48,
   'y': 485,
   'x': 388,
   'names': ['shoes']},
  'relationship_id': 15928,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'headlight',
   'h': 15,
   'synsets': ['headlight.n.01'],
   'object_id': 5050,
   'w': 23,
   'y': 366,
   'x': 514},
  'relationship_id': 15929,
  'synsets': ['have.v.01'],
  'subject': {'name': 'car',
   'h': 98,
   'synsets': ['car.n.01'],
   'object_id': 5049,
   'w': 74,
   'y': 315,
   'x': 479}},
 {'predicate': 'ON',
  'object': {'name': 'building',
   'h': 536,
   'synsets': ['building.n.01'],
   'object_id': 1058508,
   'w': 218,
   'y': 2,
   'x': 1},
  'relationship_id': 15930,
  'synsets': ['along.r.01'],
  'subject': {'name': 'sign',
   'h': 182,
   'synsets': ['sign.n.02'],
   'object_id': 1058507,
   'w': 88,
   'y': 13,
   'x': 118}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15931,
  'synsets': ['along.r.01'],
  'subject': {'name': 'tree trunk',
   'h': 327,
   'synsets': ['trunk.n.01'],
   'object_id': 5055,
   'w': 87,
   'y': 234,
   'x': 622}},
 {'predicate': 'has',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 15932,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'next to',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15933,
  'synsets': ['next.r.01'],
  'subject': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77}},
 {'predicate': 'has',
  'object': {'name': 'back',
   'h': 170,
   'synsets': ['back.n.01'],
   'object_id': 5060,
   'w': 67,
   'y': 339,
   'x': 721},
  'relationship_id': 15934,
  'synsets': ['have.v.01'],
  'subject': {'name': 'car',
   'h': 174,
   'synsets': ['car.n.01'],
   'object_id': 1058515,
   'w': 91,
   'y': 342,
   'x': 708}},
 {'predicate': 'has',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 15935,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15936,
  'synsets': ['along.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'wears',
  'object': {'h': 28,
   'object_id': 1058525,
   'merged_object_ids': [5048],
   'synsets': ['shoe.n.01'],
   'w': 48,
   'y': 485,
   'x': 388,
   'names': ['shoes']},
  'relationship_id': 15937,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'shoes',
   'h': 34,
   'synsets': ['shoe.n.01'],
   'object_id': 1058525,
   'w': 46,
   'y': 481,
   'x': 391},
  'relationship_id': 15938,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'has',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 15939,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'wears',
  'object': {'name': 'pants',
   'h': 118,
   'synsets': ['trouser.n.01'],
   'object_id': 1058528,
   'w': 38,
   'y': 384,
   'x': 245},
  'relationship_id': 15940,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'has',
  'object': {'name': 'jacket',
   'h': 97,
   'synsets': ['jacket.n.01'],
   'object_id': 1058530,
   'w': 89,
   'y': 296,
   'x': 356},
  'relationship_id': 15941,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'has',
  'object': {'name': 'pants',
   'h': 128,
   'synsets': ['trouser.n.01'],
   'object_id': 1058531,
   'w': 54,
   'y': 369,
   'x': 382},
  'relationship_id': 15942,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'parked on',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15943,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 34,
   'synsets': ['bicycle.n.01'],
   'object_id': 5051,
   'w': 28,
   'y': 319,
   'x': 318}},
 {'predicate': 'parked on',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 15944,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058535,
   'w': 29,
   'y': 319,
   'x': 334}},
 {'predicate': 'parked on',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15945,
  'synsets': ['along.r.01'],
  'subject': {'h': 176,
   'object_id': 1058542,
   'merged_object_ids': [1058536],
   'synsets': ['van.n.05'],
   'w': 241,
   'y': 278,
   'x': 533,
   'names': ['van']}},
 {'predicate': 'parked on',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 15946,
  'synsets': ['along.r.01'],
  'subject': {'name': 'car',
   'h': 174,
   'synsets': ['car.n.01'],
   'object_id': 1058515,
   'w': 91,
   'y': 342,
   'x': 708}},
 {'predicate': 'ON',
  'object': {'name': 'sidewalk',
   'h': 189,
   'synsets': ['sidewalk.n.01'],
   'object_id': 3798575,
   'w': 50,
   'y': 318,
   'x': 343},
  'relationship_id': 4265923,
  'synsets': ['along.r.01'],
  'subject': {'name': 'bike',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058535,
   'w': 29,
   'y': 319,
   'x': 334}},
 {'predicate': 'behind',
  'object': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372},
  'relationship_id': 3186256,
  'synsets': ['behind.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 3186257,
  'synsets': ['have.v.01'],
  'subject': {'h': 248,
   'object_id': 3798576,
   'merged_object_ids': [1058540],
   'synsets': ['man.n.01'],
   'w': 82,
   'y': 264,
   'x': 367,
   'names': ['man']}},
 {'predicate': 'WEARING',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 3186258,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 3186259,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'near',
  'object': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249},
  'relationship_id': 3186260,
  'synsets': ['about.r.07'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'WEARING',
  'object': {'name': 'shoes',
   'h': 34,
   'synsets': ['shoe.n.01'],
   'object_id': 1058525,
   'w': 46,
   'y': 481,
   'x': 391},
  'relationship_id': 3186261,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'near',
  'object': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249},
  'relationship_id': 3186262,
  'synsets': ['about.r.07'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'ON',
  'object': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238},
  'relationship_id': 3186263,
  'synsets': ['along.r.01'],
  'subject': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241}},
 {'predicate': 'holding',
  'object': {'name': 'chin',
   'h': 9,
   'synsets': ['chin.n.01'],
   'object_id': 1058541,
   'w': 11,
   'y': 288,
   'x': 399},
  'relationship_id': 4265924,
  'synsets': ['have.v.01'],
  'subject': {'name': 'man',
   'h': 248,
   'synsets': ['man.n.01'],
   'object_id': 3798576,
   'w': 97,
   'y': 264,
   'x': 362}},
 {'predicate': 'WEARING',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 4265925,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 264,
   'synsets': ['man.n.01'],
   'object_id': 3798577,
   'w': 72,
   'y': 251,
   'x': 230}},
 {'predicate': 'along',
  'object': {'h': 258,
   'object_id': 1058539,
   'merged_object_ids': [3798578],
   'synsets': ['street.n.01'],
   'w': 359,
   'y': 283,
   'x': 439,
   'names': ['street']},
  'relationship_id': 4265926,
  'synsets': ['along.r.01'],
  'subject': {'name': 'lamp post',
   'h': 430,
   'synsets': [],
   'object_id': 1058548,
   'w': 41,
   'y': 63,
   'x': 537}},
 {'predicate': 'IN',
  'object': {'name': 'shirt',
   'h': 101,
   'synsets': ['shirt.n.01'],
   'object_id': 1058511,
   'w': 59,
   'y': 289,
   'x': 241},
  'relationship_id': 3186264,
  'synsets': ['in.r.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'WEARING',
  'object': {'name': 'pants',
   'h': 118,
   'synsets': ['trouser.n.01'],
   'object_id': 1058528,
   'w': 38,
   'y': 384,
   'x': 245},
  'relationship_id': 3186265,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'on top of',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 3186266,
  'synsets': ['along.r.01'],
  'subject': {'name': 'parking meter',
   'h': 143,
   'synsets': ['parking_meter.n.01'],
   'object_id': 1058519,
   'w': 32,
   'y': 327,
   'x': 574}},
 {'predicate': 'next to',
  'object': {'name': 'street',
   'h': 233,
   'synsets': ['street.n.01'],
   'object_id': 1058539,
   'w': 440,
   'y': 283,
   'x': 358},
  'relationship_id': 3186267,
  'synsets': ['next.r.01'],
  'subject': {'name': 'tree',
   'h': 360,
   'synsets': ['tree.n.01'],
   'object_id': 1058545,
   'w': 176,
   'y': 0,
   'x': 249}},
 {'predicate': 'WEARING',
  'object': {'name': 'glasses',
   'h': 12,
   'synsets': ['spectacles.n.01'],
   'object_id': 1058518,
   'w': 20,
   'y': 268,
   'x': 271},
  'relationship_id': 3186268,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238}},
 {'predicate': 'behind',
  'object': {'name': 'man',
   'h': 262,
   'synsets': ['man.n.01'],
   'object_id': 1058529,
   'w': 60,
   'y': 249,
   'x': 238},
  'relationship_id': 3186269,
  'synsets': ['behind.r.01'],
  'subject': {'name': 'bikes',
   'h': 35,
   'synsets': ['bicycle.n.01'],
   'object_id': 1058544,
   'w': 40,
   'y': 319,
   'x': 321}},
 {'predicate': 'by',
  'object': {'name': 'sidewalk',
   'h': 266,
   'synsets': ['sidewalk.n.01'],
   'object_id': 1058534,
   'w': 722,
   'y': 331,
   'x': 77},
  'relationship_id': 3186270,
  'synsets': ['by.r.01'],
  'subject': {'name': 'trees',
   'h': 557,
   'synsets': ['tree.n.01'],
   'object_id': 1058549,
   'w': 606,
   'y': 0,
   'x': 190}},
 {'predicate': 'WEARING',
  'object': {'name': 'jacket',
   'h': 97,
   'synsets': ['jacket.n.01'],
   'object_id': 1058530,
   'w': 89,
   'y': 296,
   'x': 356},
  'relationship_id': 3186271,
  'synsets': ['wear.v.01'],
  'subject': {'name': 'man',
   'h': 251,
   'synsets': ['man.n.01'],
   'object_id': 1058532,
   'w': 75,
   'y': 264,
   'x': 372}},
 {'predicate': 'with',
  'object': {'name': 'windows',
   'h': 148,
   'synsets': ['window.n.01'],
   'object_id': 3798579,
   'w': 173,
   'y': 4,
   'x': 602},
  'relationship_id': 4265927,
  'synsets': [],
  'subject': {'name': 'building',
   'h': 536,
   'synsets': ['building.n.01'],
   'object_id': 1058508,
   'w': 218,
   'y': 2,
   'x': 1}}]

In [70]:
df_gnome_relationships.loc[0,"relationships"][0]

{'predicate': 'ON',
 'object': {'h': 290,
  'object_id': 1058534,
  'merged_object_ids': [5046],
  'synsets': ['sidewalk.n.01'],
  'w': 722,
  'y': 308,
  'x': 78,
  'names': ['sidewalk']},
 'relationship_id': 15927,
 'synsets': ['along.r.01'],
 'subject': {'name': 'shade',
  'h': 192,
  'synsets': ['shade.n.01'],
  'object_id': 5045,
  'w': 274,
  'y': 338,
  'x': 119}}

In [71]:
df_gnome_relationships.loc[0,"relationships"][0]["object"]["names"]

['sidewalk']

In [72]:
image_id_list = []
obj_names_list = []
obj_object_id_list = []
obj_synsets_list = []
obj_merged_object_list = []
obj_height_list = []
obj_width_list = []
obj_x_koor_list = []
obj_y_koor_list = []
relationship_id_list = []
synsets_list = []
sub_name_list = []
sub_object_id_list = []
sub_synsets_list = []
sub_height_list = []
sub_width_list = []
sub_x_koor_list = []
sub_y_koor_list = []
for image_id, relationships in relationships_data:
    for dict in relationships:
        try:
            obj_names = dict["object"]["names"]
        except:
            obj_names = []
        obj_object_id = dict["object"]["object_id"]
        obj_synsets = dict["object"]["synsets"]
        try:
            obj_merged_object = dict["object"]["merged_object_ids"]
        except:
            obj_merged_object = []
        obj_height = dict["object"]["h"]
        obj_width = dict["object"]["w"]
        obj_x_koor = dict["object"]["x"]
        obj_y_koor = dict["object"]["y"]
        relationship_id = dict["relationship_id"]
        synsets = dict["synsets"]
        try:
            sub_names = dict["subject"]["name"]
        except:
            sub_names = ""
        sub_object_id = dict["subject"]["object_id"]
        sub_synsets = dict["subject"]["synsets"]
        sub_height = dict["subject"]["h"]
        sub_width = dict["subject"]["w"]
        sub_x_koor = dict["subject"]["x"]
        sub_y_koor = dict["subject"]["y"]

        image_id_list.append(int(image_id))
        obj_names_list.append(obj_names)
        obj_object_id_list.append(int(obj_object_id))
        obj_synsets_list.append(obj_synsets)
        obj_merged_object_list.append(obj_merged_object)
        obj_height_list.append(int(obj_height))
        obj_width_list.append(int(obj_width))
        obj_x_koor_list.append(int(obj_x_koor))
        obj_y_koor_list.append(int(obj_y_koor))
        relationship_id_list.append(relationship_id)
        synsets_list.append(synsets)
        sub_name_list.append(sub_names)
        sub_object_id_list.append(int(sub_object_id))
        sub_synsets_list.append(sub_synsets)
        sub_height_list.append(int(sub_height))
        sub_width_list.append(int(sub_width))
        sub_x_koor_list.append(int(sub_x_koor))
        sub_y_koor_list.append(int(sub_y_koor))
    
df_relationships_result = pd.DataFrame({"image_id":image_id_list,"obj_names":obj_names_list,"obj_object_id":obj_object_id_list,"obj_synsets":obj_synsets_list,
"obj_merged_object_ids":obj_merged_object_list,"obj_height":obj_height_list,"obj_width":obj_width_list,"obj_x_koor":obj_x_koor_list,"obj_y_koor":obj_y_koor_list,
"relationships_id":relationship_id_list,"synsets":synsets_list,"sub_name":sub_name_list,"sub_object_id":sub_object_id_list,"sub_synsets":sub_synsets_list,
"sub_height":sub_height_list,"sub_width":sub_width_list,"sub_x_koor":sub_x_koor_list,"sub_y_koor":sub_y_koor_list})
df_relationships_result

,image_id,obj_names,obj_object_id,obj_synsets,obj_merged_object_ids,obj_height,obj_width,obj_x_koor,obj_y_koor,relationships_id,synsets,sub_name,sub_object_id,sub_synsets,sub_height,sub_width,sub_x_koor,sub_y_koor
0,1,[sidewalk],1058534,[sidewalk.n.01],[5046],290,722,78,308,15927,[along.r.01],shade,5045,[shade.n.01],192,274,119,338
1,1,[shoes],1058525,[shoe.n.01],[5048],28,48,388,485,15928,[wear.v.01],man,1058529,[man.n.01],262,60,238,249
2,1,[],5050,[headlight.n.01],[],15,23,514,366,15929,[have.v.01],car,5049,[car.n.01],98,74,479,315
3,1,[],1058508,[building.n.01],[],536,218,1,2,15930,[along.r.01],sign,1058507,[sign.n.02],182,88,118,13
4,1,[],1058534,[sidewalk.n.01],[],266,722,77,331,15931,[along.r.01],tree trunk,5055,[trunk.n.01],327,87,622,234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2316099,2417997,[],3103225,[bus.n.01],[],193,289,14,110,4245033,[along.r.01],plate,3786799,[plate.n.04],54,89,238,233
2316100,2417997,[],3786800,[desert.n.01],[],119,157,301,211,4245034,[in.r.01],,3103225,[bus.n.01],182,287,14,110
2316101,2417997,[],3103226,[road.n.01],[],83,90,312,247,3722727,[along.r.01],bus,3103225,[bus.n.01],193,289,14,110
2316102,2417997,[],2712437,[door.n.01],[],144,50,98,127,3880229,[],bus,3103225,[bus.n.01],193,289,14,110
2316103,2417997,[],3140197,[bus.n.01],[],155,225,29,109,3722730,[along.r.01],door,3561727,[door.n.01],113,50,100,130

#### Copy Move And Delete

In [ ]:
output_file = glob.glob(f"{lang_folder.capitalize()}_45000_Lemma_Pos_Process.xlsx")
output_file

In [ ]:
for l in output_file:
    source = l # source directory
    destination = path
    shutil.copy2(source, destination)

In [ ]:
for j in output_file:
    try:
        os.remove(j)
    except:
        pass