### Word In Word Gnome Process

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import re
import glob
from pathlib import Path
import shutil
from os.path import isfile, join

In [2]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
#lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [3]:
path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
Lemma Stem POS/Result/4-Word In Word Gnome"

Path(path).mkdir(parents=True, exist_ok=True)

In [4]:
def lower_strip_func(x):
    try:
        var_low = str(x).lower()
        var_out = var_low.strip()
    except:
        var_out = x
    return var_out

#### Word Gnome Data

In [5]:
df_gnome_objects = pd.read_json(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Word Gnome/objects.json")
df_gnome_objects

,image_id,objects,image_url,merged_object_ids
0,1,"[{'synsets': ['tree.n.01'], 'h': 557, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
1,2,"[{'synsets': ['road.n.01'], 'h': 254, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
2,3,"[{'synsets': ['booth.n.02'], 'h': 389, 'object...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
3,4,"[{'synsets': ['floor.n.01'], 'h': 168, 'object...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
4,5,"[{'synsets': ['room.n.01'], 'h': 599, 'object_...",https://cs.stanford.edu/people/rak248/VG_100K_...,NaN
...,...,...,...,...
108072,2417992,"[{'synsets': [], 'h': 111, 'object_id': 378678...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108073,2417993,"[{'synsets': ['beach.n.01'], 'h': 194, 'object...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108074,2417994,"[{'synsets': ['bell.n.01'], 'h': 14, 'object_i...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108075,2417995,"[{'synsets': ['barroom.n.01'], 'h': 29, 'objec...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN
108076,2417997,"[{'synsets': ['bus.n.01'], 'h': 182, 'object_i...",http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN

In [6]:
df_gnome_attributes = pd.read_json(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Word Gnome/attributes.json")
df_gnome_attributes

        image_id                                         attributes
0              1  [{'synsets': ['clock.n.01'], 'h': 339, 'object...
1              2  [{'synsets': [], 'h': 103, 'object_id': 5069, ...
2              3  [{'synsets': [], 'h': 79, 'object_id': 5091, '...
3              4  [{'synsets': ['curtain.n.01'], 'h': 300, 'obje...
4              5  [{'synsets': ['floor.n.01'], 'h': 108, 'object...
...          ...                                                ...
108072   2417992  [{'synsets': ['train.n.01'], 'h': 322, 'object...
108073   2417993  [{'synsets': ['foot.n.01'], 'h': 84, 'object_i...
108074   2417994  [{'synsets': ['sheep.n.01'], 'h': 137, 'object...
108075   2417995  [{'synsets': ['window.n.01'], 'h': 50, 'object...
108076   2417997  [{'synsets': ['distance.n.01'], 'h': 111, 'obj...

[108077 rows x 2 columns]

In [7]:
df_gnome_relationships = pd.read_json(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Word Gnome/relationships.json")
df_gnome_relationships

                                            relationships  image_id
0       [{'predicate': 'ON', 'object': {'h': 290, 'obj...         1
1       [{'predicate': 'wears', 'object': {'name': 'ba...         2
2       [{'predicate': 'in front of', 'object': {'name...         3
3       [{'predicate': 'has', 'object': {'name': 'padd...         4
4       [{'predicate': 'ON', 'object': {'name': 'floor...         5
...                                                   ...       ...
108072  [{'predicate': 'on top of', 'object': {'name':...   2417992
108073  [{'predicate': 'has a', 'object': {'name': 'gu...   2417993
108074  [{'predicate': 'standing in', 'object': {'name...   2417994
108075  [{'predicate': 'ON', 'object': {'name': 'train...   2417995
108076  [{'predicate': 'IN', 'object': {'name': 'dista...   2417997

[108077 rows x 2 columns]

#### Copy Move And Delete

In [ ]:
output_file = glob.glob(f"{lang_folder.capitalize()}_45000_Lemma_Pos_Process.xlsx")
output_file

In [ ]:
for l in output_file:
    source = l # source directory
    destination = path
    shutil.copy2(source, destination)

In [ ]:
for j in output_file:
    try:
        os.remove(j)
    except:
        pass