## Data

In [383]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [384]:
df = pd.read_csv("train.csv")
df.head()

   id cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target
0   1    B    B    B    C    B    B    A    E    C    N  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634
1   2    B    B    A    A    B    D    A    F    A    O  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233
2   3    A    A    A    C    B    D    A    D    A    F  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351
3   4    B    B    A    C    B    D    A    E    C    K  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253
4   6    A    A    A    C    B    D    A    E    A    N  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260

In [423]:
df2 = pd.read_csv("test.csv")
df2.head()

   id cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13
0   0    B    B    B    C    B    B    A    E    E    I  0.296227  0.686757  0.587731  0.392753  0.476739  0.376350  0.337884  0.321832  0.445212  0.290258  0.244476  0.087914  0.301831  0.845702
1   5    A    B    A    C    B    C    A    E    C    H  0.543707  0.364761  0.452967  0.929645  0.285509  0.860046  0.798712  0.835961  0.391657  0.288276  0.549568  0.905097  0.850684  0.693940
2  15    B    A    A    A    B    B    A    E    D    K  0.408961  0.296129  0.690999  0.740027  0.697272  0.683600  0.404089  0.879379  0.275549  0.427871  0.491667  0.384315  0.376689  0.508099
3  16    B    B    A    C    B    D    A    E    A    N  1.031239  0.356062  0.303651  0.895591  0.719306  0.777890  0.730954  0.644315  1.024017  0.391090  0.988340  0.411828  0.393585  0.461372
4  17    B    B    A    C    B    C    A    E    C    F  0.530447  0.729004  0.281723  0.444698  0.313032  0.431007  0.390992  0.408874  0.447887  0.390253  0.648932  0.385935  0.370401  0.900412

In [385]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 26 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      300000 non-null  int64
 1   cat0    300000 non-null  object
 2   cat1    300000 non-null  object
 3   cat2    300000 non-null  object
 4   cat3    300000 non-null  object
 5   cat4    300000 non-null  object
 6   cat5    300000 non-null  object
 7   cat6    300000 non-null  object
 8   cat7    300000 non-null  object
 9   cat8    300000 non-null  object
 10  cat9    300000 non-null  object
 11  cont0   300000 non-null  float64
 12  cont1   300000 non-null  float64
 13  cont2   300000 non-null  float64
 14  cont3   300000 non-null  float64
 15  cont4   300000 non-null  float64
 16  cont5   300000 non-null  float64
 17  cont6   300000 non-null  float64
 18  cont7   300000 non-null  float64
 19  cont8   300000 non-null  float64
 20  cont9   300000 non-null  float64
 21  cont10  300000 non-null  float64
 22  cont11  300000 non-null  float64
 23  cont12  300000 non-null  float64
 24  cont13  300000 non-null  float64
 25  target  300000 non-null  float64
dtypes: float64(15), int64(1), object(10)
memory usage: 59.5+ MB

In [386]:
df.describe()

                  id          cont0          cont1          cont2          cont3          cont4          cont5          cont6          cont7          cont8          cont9         cont10         cont11         cont12         cont13         target
count  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000  300000.000000
mean   250018.576947       0.527335       0.460926       0.490498       0.496689       0.491654       0.510526       0.467476       0.537119       0.498456       0.474872       0.474492       0.473216       0.494561       0.508273       8.241979
std    144450.150010       0.230599       0.214003       0.253346       0.219199       0.240074       0.228232       0.210331       0.218140       0.239920       0.218007       0.255949       0.222022       0.247292       0.222950       0.746555
min         1.000000      -0.118039      -0.069309      -0.056104       0.130676       0.255908       0.045915      -0.224689       0.203763      -0.260275       0.117896       0.048732       0.052608      -0.074208       0.151050       0.140329
25%    124772.500000       0.405965       0.310494       0.300604       0.329783       0.284188       0.354141       0.342873       0.355825       0.332486       0.306874       0.276017       0.308151       0.289074       0.300669       7.742071
50%    250002.500000       0.497053       0.427903       0.502462       0.465026       0.390470       0.488865       0.429383       0.504661       0.439151       0.434620       0.459975       0.433812       0.422887       0.472400       8.191373
75%    375226.500000       0.668060       0.615113       0.647512       0.664451       0.696599       0.669625       0.573383       0.703441       0.606056       0.614333       0.691579       0.642057       0.714502       0.758447       8.728634
max    499999.000000       1.058443       0.887253       1.034704       1.039560       1.055424       1.067649       1.111552       1.032837       1.040229       0.982922       1.055960       1.071444       0.975035       0.905992      10.411992

In [387]:
df.drop("id", axis=1, inplace=True)

In [388]:
df

       cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target
0         B    B    B    C    B    B    A    E    C    N  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634
1         B    B    A    A    B    D    A    F    A    O  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233
2         A    A    A    C    B    D    A    D    A    F  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351
3         B    B    A    C    B    D    A    E    C    K  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253
4         A    A    A    C    B    D    A    E    A    N  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...
299995    B    B    A    A    B    D    A    E    A    I  0.697124  0.483452  0.297770  0.195821  0.307883  0.769792  0.450538  0.934360  1.005077  0.853726  0.422541  1.063463  0.697685  0.506404  7.945605
299996    A    B    A    C    B    B    A    E    E    F  0.446200  0.715135  0.610931  0.601730  0.736713  0.528056  0.508502  0.358247  0.257825  0.433525  0.301015  0.268447  0.577055  0.823611  7.326118
299997    B    B    A    C    B    C    A    E    G    F  0.544279  0.060937  0.590955  0.905308  0.277074  0.688747  0.372425  0.364936  0.383224  0.551825  0.661007  0.629606  0.714139  0.245732  8.706755
299998    A    B    A    C    B    B    A    E    E    I  0.300062  0.613118  0.285213  0.406851  0.805963  0.344404  0.424243  0.382028  0.468819  0.351036  0.288768  0.611169  0.380254  0.332030  7.229569
299999    A    A    A    C    A    D    A    E    A    O  0.857752  0.628528  0.539625  0.396143  0.276785  0.565347  0.328669  0.789165  0.960406  0.776019  0.734707  0.484392  0.639754  0.689317  8.631146

[300000 rows x 25 columns]

In [389]:
for column in df.select_dtypes('object').columns:
    print(f'Column {column} has {df[column].nunique()} unique values.')

Column cat0 has 2 unique values.
Column cat1 has 2 unique values.
Column cat2 has 2 unique values.
Column cat3 has 4 unique values.
Column cat4 has 4 unique values.
Column cat5 has 4 unique values.
Column cat6 has 8 unique values.
Column cat7 has 8 unique values.
Column cat8 has 7 unique values.
Column cat9 has 15 unique values.

In [390]:
for column in df.select_dtypes('object').columns:
    print(f'Column {column} \n{df[column].value_counts()}')

Column cat0
A    193130
B    106870
Name: cat0, dtype: int64
Column cat1
A    154824
B    145176
Name: cat1, dtype: int64
Column cat2
A    253886
B     46114
Name: cat2, dtype: int64
Column cat3
C    263356
A     31726
D      4328
B       590
Name: cat3, dtype: int64
Column cat4
B    294737
A      2978
C      1772
D       513
Name: cat4, dtype: int64
Column cat5
B    149340
D    126137
C     20248
A      4275
Name: cat5, dtype: int64
Column cat6
A    290511
B      8018
C       928
D       292
I       136
H        56
E        45
G        14
Name: cat6, dtype: int64
Column cat7
E    276040
D     12144
B      8297
G      2870
F       562
C        36
A        31
I        20
Name: cat7, dtype: int64
Column cat8
C    111103
E     79844
A     76585
G     26128
D      5187
F       966
B       187
Name: cat8, dtype: int64
Column cat9
F    71249
I    59218
G    28253
L    20958
H    19925
K    18057
N    16704
B    14477
J    14266
O    14203
A    11029
M     7931
C     1603
D     1088
E     1039
Name: cat9, dtype: int64

In [391]:
df = df.drop("cat9", axis=1)
df.head()

  cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target
0    B    B    B    C    B    B    A    E    C  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634
1    B    B    A    A    B    D    A    F    A  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233
2    A    A    A    C    B    D    A    D    A  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351
3    B    B    A    C    B    D    A    E    C  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253
4    A    A    A    C    B    D    A    E    A  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260

In [392]:
y = df.target
X = df.drop("target", axis=1)

In [393]:
y.head()

0    8.113634
1    8.481233
2    8.364351
3    8.049253
4    7.972260
Name: target, dtype: float64

In [394]:
X.head()

  cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13
0    B    B    B    C    B    B    A    E    C  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850
1    B    B    A    A    B    D    A    F    A  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083
2    A    A    A    C    B    D    A    D    A  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846
3    B    B    A    C    B    D    A    E    C  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682
4    A    A    A    C    B    D    A    E    A  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823

In [ ]:
#X.corr()

In [ ]:
#plt.figure(figsize=(12,10))
#sns.heatmap(X.corr(), annot=True)

In [395]:
X = pd.get_dummies(X, drop_first=True)

In [396]:
X.head()

      cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13  cat0_B  cat1_B  cat2_B  cat3_B  cat3_C  cat3_D  cat4_B  cat4_C  cat4_D  cat5_B  cat5_C  cat5_D  cat6_B  cat6_C  cat6_D  cat6_E  cat6_G  cat6_H  cat6_I  cat7_B  cat7_C  cat7_D  cat7_E  cat7_F  cat7_G  cat7_I  cat8_B  cat8_C  cat8_D  cat8_E  cat8_F  cat8_G
0  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850       1       1       1       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0
1  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083       1       1       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0
2  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0
3  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682       1       1       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0
4  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0

### Sum Multi

In [397]:
X["cont_sum"] = X.cont0 + X.cont1 + X.cont2 + X.cont3 + X.cont4 + X.cont5 + X.cont6 + X.cont7 + X.cont8 + X.cont9 + X.cont10 + X.cont11 + X.cont12 + X.cont13
X

           cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13  cat0_B  cat1_B  cat2_B  cat3_B  cat3_C  cat3_D  cat4_B  cat4_C  cat4_D  cat5_B  cat5_C  cat5_D  cat6_B  cat6_C  cat6_D  cat6_E  cat6_G  cat6_H  cat6_I  cat7_B  cat7_C  cat7_D  cat7_E  cat7_F  cat7_G  cat7_I  cat8_B  cat8_C  cat8_D  cat8_E  cat8_F  cat8_G  cont_sum
0       0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850       1       1       1       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0  4.939312
1       0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083       1       1       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0  7.874177
2       0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0  7.903964
3       0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682       1       1       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0  6.970670
4       1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0  7.944591
...          ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...       ...
299995  0.697124  0.483452  0.297770  0.195821  0.307883  0.769792  0.450538  0.934360  1.005077  0.853726  0.422541  1.063463  0.697685  0.506404       1       1       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0  8.685637
299996  0.446200  0.715135  0.610931  0.601730  0.736713  0.528056  0.508502  0.358247  0.257825  0.433525  0.301015  0.268447  0.577055  0.823611       0       1       0       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       1       0       0  7.166992
299997  0.544279  0.060937  0.590955  0.905308  0.277074  0.688747  0.372425  0.364936  0.383224  0.551825  0.661007  0.629606  0.714139  0.245732       1       1       0       0       1       0       1       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       1  6.990195
299998  0.300062  0.613118  0.285213  0.406851  0.805963  0.344404  0.424243  0.382028  0.468819  0.351036  0.288768  0.611169  0.380254  0.332030       0       1       0       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       1       0       0  5.993958
299999  0.857752  0.628528  0.539625  0.396143  0.276785  0.565347  0.328669  0.789165  0.960406  0.776019  0.734707  0.484392  0.639754  0.689317       0       0       0       0       1       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0  8.666608

[300000 rows x 47 columns]

In [398]:
X["cont_mul"] = X.cont0 * X.cont1 * X.cont2 * X.cont3 * X.cont4 * X.cont5 * X.cont6 * X.cont7 * X.cont8 * X.cont9 * X.cont10 * X.cont11 * X.cont12 * X.cont13
X

           cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13  cat0_B  cat1_B  cat2_B  cat3_B  cat3_C  cat3_D  cat4_B  cat4_C  cat4_D  cat5_B  cat5_C  cat5_D  cat6_B  cat6_C  cat6_D  cat6_E  cat6_G  cat6_H  cat6_I  cat7_B  cat7_C  cat7_D  cat7_E  cat7_F  cat7_G  cat7_I  cat8_B  cat8_C  cat8_D  cat8_E  cat8_F  cat8_G  cont_sum      cont_mul
0       0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850       1       1       1       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0  4.939312 -8.700315e-09
1       0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083       1       1       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0  7.874177  8.980345e-05
2       0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0  7.903964 -9.526074e-06
3       0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682       1       1       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0  6.970670  2.114101e-05
4       1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0  7.944591 -2.038391e-05
...          ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...       ...           ...
299995  0.697124  0.483452  0.297770  0.195821  0.307883  0.769792  0.450538  0.934360  1.005077  0.853726  0.422541  1.063463  0.697685  0.506404       1       1       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0  8.685637  2.671010e-04
299996  0.446200  0.715135  0.610931  0.601730  0.736713  0.528056  0.508502  0.358247  0.257825  0.433525  0.301015  0.268447  0.577055  0.823611       0       1       0       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       1       0       0  7.166992  3.568542e-05
299997  0.544279  0.060937  0.590955  0.905308  0.277074  0.688747  0.372425  0.364936  0.383224  0.551825  0.661007  0.629606  0.714139  0.245732       1       1       0       0       1       0       1       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       1  6.990195  7.107853e-06
299998  0.300062  0.613118  0.285213  0.406851  0.805963  0.344404  0.424243  0.382028  0.468819  0.351036  0.288768  0.611169  0.380254  0.332030       0       1       0       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       1       0       0  5.993958  3.521847e-06
299999  0.857752  0.628528  0.539625  0.396143  0.276785  0.565347  0.328669  0.789165  0.960406  0.776019  0.734707  0.484392  0.639754  0.689317       0       0       0       0       1       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0  8.666608  5.471230e-04

[300000 rows x 48 columns]

In [399]:
X.select_dtypes('float64').columns

Index(['cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12', 'cont13', 'cont_sum', 'cont_mul'], dtype='object')

In [400]:
X = X.drop(['cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12', 'cont13'], axis=1)
X.head()

   cat0_B  cat1_B  cat2_B  cat3_B  cat3_C  cat3_D  cat4_B  cat4_C  cat4_D  cat5_B  cat5_C  cat5_D  cat6_B  cat6_C  cat6_D  cat6_E  cat6_G  cat6_H  cat6_I  cat7_B  cat7_C  cat7_D  cat7_E  cat7_F  cat7_G  cat7_I  cat8_B  cat8_C  cat8_D  cat8_E  cat8_F  cat8_G  cont_sum      cont_mul
0       1       1       1       0       1       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0  4.939312 -8.700315e-09
1       1       1       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0  7.874177  8.980345e-05
2       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0  7.903964 -9.526074e-06
3       1       1       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0  6.970670  2.114101e-05
4       0       0       0       0       1       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0  7.944591 -2.038391e-05

In [ ]:
X.head()

### Scale

In [401]:
from sklearn.preprocessing import MinMaxScaler

In [402]:
scaler = MinMaxScaler()

In [403]:
X = scaler.fit_transform(X)

### Metrics

In [404]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [405]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print("r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

### Train Test

In [406]:
from sklearn.model_selection import train_test_split

In [407]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### PCA

In [408]:
from sklearn.decomposition import PCA

In [409]:
pca = PCA(n_components = 10)

In [410]:
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [411]:
pd.DataFrame(X_train).head()

          0         1         2         3         4         5         6         7         8         9
0 -0.223050  0.713219 -0.040089 -0.551609 -0.235241  1.113851 -0.061376  0.970791  0.518659 -0.132091
1  0.554031 -0.685043  0.824460 -0.357224  0.040271 -0.080647 -0.434321 -0.036368  0.016956 -0.123708
2  0.562489 -0.684589  0.824353 -0.358062  0.039130 -0.081025 -0.431060 -0.036272  0.017259 -0.120593
3  0.772953  0.128125 -0.032191 -0.874885 -0.114631 -0.135678  0.444063 -0.448759  0.644417  0.235830
4  0.848400 -0.651065  0.373684  0.484139  0.071695 -0.082956 -0.471229 -0.056580  0.015357 -0.141958

In [412]:
pd.DataFrame(X_test).head()

          0         1         2         3         4         5         6         7         8         9
0 -0.881560  0.724543 -0.100650 -0.398304 -0.251916 -0.115933 -0.169708 -0.067496  0.030353 -0.062622
1  0.915486  0.148077 -0.486848 -0.001005 -0.019518 -0.095381 -0.109019  0.004570 -0.189440  0.279370
2  1.011501  0.131428  0.402916  0.443461  0.004786 -0.118988 -0.116827 -0.007308 -0.190393  0.280150
3 -0.734478  0.767797 -0.568680  0.457690  0.746017 -0.141312 -0.010978 -0.015614  0.046904 -0.057863
4  0.891336  0.146781 -0.486544  0.001388 -0.016261 -0.094304 -0.118330  0.004294 -0.190306  0.270477

### KNN

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
knn_model = KNeighborsRegressor()

In [ ]:
knn_model.fit(X_train,y_train)

In [ ]:
y_pred = knn_model.predict(X_test)

In [ ]:
eval_metrics(y_test, y_pred)

### Random Forest

In [413]:
from sklearn.ensemble import RandomForestRegressor

In [414]:
rf_model = RandomForestRegressor()

In [415]:
rf_model.fit(X_train,y_train)

RandomForestRegressor()

In [416]:
y_pred =rf_model.predict(X_test)

In [417]:
eval_metrics(y_test, y_pred)

r2_score: -0.3653888165529149
 mae: 0.6910076116063918
 mse: 0.7582269933815448
 rmse: 0.8707623059030201

### XG Boost

In [418]:
from xgboost import XGBRegressor

In [419]:
xg_model = XGBRegressor(learning_rate=0.17, gamma=0.01)

In [420]:
xg_model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.01, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.17, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=16, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [421]:
y_pred = xg_model.predict(X_test)

In [422]:
eval_metrics(y_test, y_pred)

r2_score: 0.0045186167661119825
 mae: 0.5892404785934412
 mse: 0.5528101937163336
 rmse: 0.7435120669608083