### Shared Word File Process

In [1]:
import os
import multiprocessing
#import multiprocessing as mp
from multiprocessing import Process, Manager, Pool, Queue
from itertools import islice
import re
import pandas as pd
import numpy as np
import glob
import nltk
from nltk import word_tokenize
from functools import reduce
from pathlib import Path
import shutil

In [2]:
nprocs = multiprocessing.cpu_count()
print(f"Number of CPU cores: {nprocs}")

Number of CPU cores: 16

In [3]:
# language pair
lang_folder = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
lang_pair = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

# adding native word to shared word
word_start = 0  # 0  # native word start index
word_end = 28  # 28  # native word end index

# shared word frequency
shared_word_frequency = True  # True, False

# prefix suffix file
prefix_suffix = False  # True, False  # always must be False in this part
native_word = True # True for adding native word
etymology_word = True  # True for adding etymology word

# adding output file extention
if (not prefix_suffix) & etymology_word & native_word:
    file_ext = "1"
elif (not prefix_suffix) & etymology_word & (not native_word):
    file_ext = "2"
elif prefix_suffix & etymology_word & native_word:
    file_ext = "3"
elif prefix_suffix & etymology_word & (not native_word):
    file_ext = "4"
elif prefix_suffix & (not etymology_word) & native_word:
    file_ext = "5"
elif (not prefix_suffix) & (not etymology_word) & native_word:
    file_ext = "6"
else:
    file_ext = "7"              
# 1 => for native word and etymology word without prefix suffix. 
# 2 => for only etymology word without prefix suffix. 
# 3 => for native word and etymology word with prefix suffix. prefix_suffix, native_word and etymology_word must be True. 
# 4 => for only etymology word with prefix suffix.
# 5 => for only native word with prefix suffix.
# 6 => for only native word without prefix suffix.
print(f"{file_ext}")

1

In [4]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/5-Shared Word File/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)

### Twogram In Threegram

In [5]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

                         word  frequency
0                         you  102069964
1                           i   94447074
2                         the   77481215
3                          to   58281119
4                          is   50852895
...                       ...        ...
552149          fruitcocktail          6
552150  andthesunlightshining          6
552151                 upravo          6
552152                 yagawa          6
552153           foxtrotoscar          6

[552154 rows x 2 columns]

In [6]:
df_shared_file = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/4-Shared Word/{lang_folder.capitalize()} {lang_pair.capitalize()}/{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result_With_Frequency{file_ext}.xlsx")
#df_shared_file = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result_With_Frequency.xlsx")
df_shared_file

,word,frequency,twogram,freq_twogram,threegram,freq_threegram,fourgram,freq_fourgram,fivegram,freq_fivegram,sentence,freq_sentence
0,you,102069964.0,i am,10494331.0,i do not,3520257,you do not have,160426.0,you do not have to,107450.0,of course,266277.0
1,i,94447074.0,do not,8972296.0,i am not,1262941,i do not have,158788.0,i do not have a,34568.0,what is it,251203.0
2,the,77481215.0,i do,4179914.0,what do you,1120086,do not have to,150328.0,do not have to do,21572.0,stop it,152280.0
3,to,58281119.0,i will,3706224.0,you do not,1010676,no i do not,105374.0,i do not have to,21499.0,i am,136931.0
4,is,50852895.0,do you,3358227.0,do not you,644488,i do not like,99318.0,i do not like it,18564.0,i do,114801.0
...,...,...,...,...,...,...,...,...,...,...,...,...
206638,NaN,NaN,NaN,NaN,i control radiation,4,NaN,NaN,NaN,NaN,NaN,NaN
206639,NaN,NaN,NaN,NaN,the antibiotic i,4,NaN,NaN,NaN,NaN,NaN,NaN
206640,NaN,NaN,NaN,NaN,my radar screen,4,NaN,NaN,NaN,NaN,NaN,NaN
206641,NaN,NaN,NaN,NaN,cup will not,4,NaN,NaN,NaN,NaN,NaN,NaN
206642,NaN,NaN,NaN,NaN,stop on no,4,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def word_count_result(df,column_list): # df is dataframe, column_list is list value
    '''
    word_count_bool(df, column_list): df columns word count for word frequency\n
    df is dataframe, column_list is list value\n
    word_count_bool(df, ["word","twogram"]):
    '''
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list, columns=["word"])
    #df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

In [8]:
def word_in_wordgroup(df, list_column, target_column):

    '''word_in_wordgroup(df, "word", "twogram"):
       df is dataframe, list_column and target_column are 
       dataframe column string name. list_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{list_column}"].dropna():
        try:
            #word_in_twogram = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].head(10)  # Option
            word_in_word_cluster = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].head(100) 
        except:
            pass        
        word_in_word_cluster.insert(0,f"{list_column}",i)
        df_word_result = pd.concat([df_word_result,word_in_word_cluster], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [9]:
#df_shared_count = word_count_result(df_shared_file,["threegram"])
#df_shared_count

In [10]:
df_shared_file["twogram"].nunique()

78359

In [11]:
df_two_in_three = word_in_wordgroup(df_shared_file, "twogram", "threegram")
df_two_in_three

                     twogram                 threegram
0                       i am                  i am not
1                       i am                    i am a
2                       i am                   no i am
3                       i am                 what i am
4                       i am                  i am the
...                      ...                       ...
334913       champion puzzle         a champion puzzle
334914      quality material      was quality material
334915          quality mask            a quality mask
334916         quality index          quality index is
334917  classical department  the classical department

[334918 rows x 2 columns]

In [12]:
df_two_in_three["twogram"].nunique()

60870

In [13]:
df_shared_select_twogram = df_shared_file.loc[:,["twogram","freq_twogram"]]
df_shared_select_twogram

       twogram  freq_twogram
0         i am    10494331.0
1       do not     8972296.0
2         i do     4179914.0
3       i will     3706224.0
4       do you     3358227.0
...        ...           ...
206638     NaN           NaN
206639     NaN           NaN
206640     NaN           NaN
206641     NaN           NaN
206642     NaN           NaN

[206643 rows x 2 columns]

In [14]:
set_shared_twogram = set(df_shared_select_twogram["twogram"])
set_two_three = set(df_two_in_three["twogram"])

In [15]:
df_twogram_in_threegram = pd.DataFrame(set_two_three, columns=["twogram"])  # columns=["twogram_in_threegram"]
df_twogram_in_threegram

                twogram
0           your screen
1           hologram is
2         action august
3            realism do
4      corner depressed
...                 ...
60865       social plan
60866       bouquet the
60867           cafe we
60868     training baby
60869          unit hit

[60870 rows x 1 columns]

In [16]:
df_twogram_in_threegram_freq = pd.merge(df_twogram_in_threegram, df_shared_select_twogram, how="left", on="twogram")
df_twogram_in_threegram_freq.sort_values(by="freq_twogram", ascending=False, inplace=True)
df_twogram_in_threegram_freq.rename(columns={"twogram":"twogram_in_threegram","freq_twogram":"freq_two_in_three"}, inplace=True)
df_twogram_in_threegram_freq.reset_index(drop=True, inplace=True)
df_twogram_in_threegram_freq

      twogram_in_threegram  freq_two_in_three
0                     i am         10494331.0
1                   do not          8972296.0
2                     i do          4179914.0
3                   i will          3706224.0
4                   do you          3358227.0
...                    ...                ...
60865           lift music                4.0
60866           counter no                4.0
60867        system design                4.0
60868        have champion                4.0
60869     frequency active                4.0

[60870 rows x 2 columns]

In [17]:
df_twogram_diff = pd.DataFrame(set_shared_twogram.difference(set_two_three), columns=["twogram"])
df_twogram_diff

                 twogram
0                    NaN
1      anonymous sponsor
2             diet chips
3       complete protein
4        university hall
...                  ...
17485         subsidy to
17486          shot type
17487       captain post
17488      it initiative
17489  miniature control

[17490 rows x 1 columns]

In [18]:
df_twogram_diff_freq = pd.merge(df_twogram_diff, df_shared_select_twogram, how="left", on="twogram")
df_twogram_diff_freq.sort_values(by="freq_twogram", ascending=False, inplace=True)
df_twogram_diff_freq.reset_index(drop=True, inplace=True)
df_twogram_diff_freq

               twogram  freq_twogram
0          media group        4604.0
1        hello sheriff         501.0
2           hello mark         457.0
3       hello princess         433.0
4        hello general         398.0
...                ...           ...
145768             NaN           NaN
145769             NaN           NaN
145770             NaN           NaN
145771             NaN           NaN
145772             NaN           NaN

[145773 rows x 2 columns]

In [19]:
df_shared_file["twogram"] = df_twogram_diff_freq["twogram"]
df_shared_file["freq_twogram"] = df_twogram_diff_freq["freq_twogram"]

In [20]:
df_shared_twogram_process = pd.concat([df_shared_file,df_twogram_in_threegram_freq], axis=1)
df_shared_twogram_process

,word,frequency,twogram,freq_twogram,threegram,freq_threegram,fourgram,freq_fourgram,fivegram,freq_fivegram,sentence,freq_sentence,twogram_in_threegram,freq_two_in_three
0,you,102069964.0,media group,4604.0,i do not,3520257,you do not have,160426.0,you do not have to,107450.0,of course,266277.0,i am,10494331.0
1,i,94447074.0,hello sheriff,501.0,i am not,1262941,i do not have,158788.0,i do not have a,34568.0,what is it,251203.0,do not,8972296.0
2,the,77481215.0,hello mark,457.0,what do you,1120086,do not have to,150328.0,do not have to do,21572.0,stop it,152280.0,i do,4179914.0
3,to,58281119.0,hello princess,433.0,you do not,1010676,no i do not,105374.0,i do not have to,21499.0,i am,136931.0,i will,3706224.0
4,is,50852895.0,hello general,398.0,do not you,644488,i do not like,99318.0,i do not like it,18564.0,i do,114801.0,do you,3358227.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206638,NaN,NaN,NaN,NaN,i control radiation,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206639,NaN,NaN,NaN,NaN,the antibiotic i,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206640,NaN,NaN,NaN,NaN,my radar screen,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206641,NaN,NaN,NaN,NaN,cup will not,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206642,NaN,NaN,NaN,NaN,stop on no,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_shared_twogram_process.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result_With_Frequency{file_ext}2.xlsx", index=False)

##### Concat Result With Comma

In [22]:
df_word_order_twogram = word_in_wordgroup(df_shared_twogram_process, "word", "twogram")
df_word_order_threegram = word_in_wordgroup(df_shared_twogram_process, "word", "threegram") 
df_word_order_fourgram = word_in_wordgroup(df_shared_twogram_process, "word", "fourgram") 
df_word_order_fivegram = word_in_wordgroup(df_shared_twogram_process, "word", "fivegram")
df_word_order_sentence = word_in_wordgroup(df_shared_twogram_process, "word", "sentence")
df_word_order_twogram_threegram = word_in_wordgroup(df_shared_twogram_process, "word", "twogram_in_threegram")

In [23]:
df_word_order_join_twogram = df_word_order_twogram.groupby(["word"])["twogram"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_threegram = df_word_order_threegram.groupby(["word"])["threegram"].apply(", ".join).reset_index()
df_word_order_join_fourgram = df_word_order_fourgram.groupby(["word"])["fourgram"].apply(", ".join).reset_index()
df_word_order_join_fivegram = df_word_order_fivegram.groupby(["word"])["fivegram"].apply(", ".join).reset_index()
df_word_order_join_sentence = df_word_order_sentence.groupby(["word"])["sentence"].apply(", ".join).reset_index()
df_word_order_join_twogram_threegram = df_word_order_twogram_threegram.groupby(["word"])["twogram_in_threegram"].apply(", ".join).reset_index()

In [24]:
dfs = [df_word_order_join_twogram,df_word_order_join_threegram,df_word_order_join_fourgram,df_word_order_join_fivegram,df_word_order_join_sentence,df_word_order_join_twogram_threegram]

In [25]:
df_word_order_join_all = reduce(lambda  left,right: pd.merge(left,right, on=['word'], how='outer'), dfs)  # left,right make left to right merge
#df_word_order_join_all = reduce(lambda  right,left: pd.merge(left,right, on=['word'], how='outer'), dfs)  # right,left make right to left merge
df_word_order_join_all

,word,twogram,threegram,fourgram,fivegram,sentence,twogram_in_threegram
0,a,"agent a, a terrorism, solo a, a tribune, mummy...","i am a, i have a, this is a, you have a, it wa...","i am not a, do not have a, do you have a, this...","i do not have a, you do not have a, we do not ...","a what, not a chance, what a surprise, i am a ...","have a, is a, was a, for a, in a, not a, like ..."
1,abacus,"your abacus, abacus and, abacus of, my abacus","like the abacus, abacus to the, and the abacus...",i like the abacus,NaN,"and the abacus, my abacus","the abacus, abacus to, abacus is, abacus you, ..."
2,abnormal,"on abnormal, this abnormal, for abnormal, you ...","i am abnormal, in the abnormal, am i abnormal,...","contact in the abnormal, and you have abnormal...","we have on the abnormal, the reaction to the a...","abnormal psychology, i am abnormal, am i abnor...","the abnormal, no abnormal, abnormal psychology..."
3,absorb,"i absorb, absorb shock","to absorb the, will absorb the, and absorb it,...","it and absorb it, will absorb the radiation, t...","that will absorb the radiation, the ocean will...","absorb it, to absorb, i absorb, absorb this in...","to absorb, absorb the, absorb it, will absorb,..."
4,absurd,"absurd it, absurd you, what absurd, you absurd...","this is absurd, that is absurd, it is absurd, ...","absurd is not it, absurd your position is, you...","is it not absurd to, absurd name for a cricket...","this is absurd, that is absurd, it is absurd, ...","is absurd, absurd to, the absurd, this absurd,..."
...,...,...,...,...,...,...,...
1695,provoke,NaN,"do not provoke, not provoke me, to provoke me,...","do not provoke me, i do not provoke, do not yo...","you do do not provoke, do not you provoke me, ...","do not provoke me, i do not provoke, do not pr...","to provoke, not provoke, provoke me, you provo..."
1696,quadrillion,NaN,a quadrillion electron,NaN,NaN,a quadrillion,"a quadrillion, quadrillion electron"
1697,retouch,NaN,"do not retouch, will retouch it, to retouch it...","we do not retouch, we will retouch it",NaN,NaN,"retouch it, not retouch, will retouch, to retouch"
1698,sympathizer,NaN,"me a sympathizer, a communist sympathizer, is ...","am a communist sympathizer, brother was a symp...","i am a communist sympathizer, your brother was...","communist sympathizer, a sympathizer, i am a c...","a sympathizer, communist sympathizer, sympathi..."
1699,unisex,NaN,"a unisex toilet, you have unisex, it was unise...","me it was unisex, this is a unisex",NaN,"a unisex, a unisex toilet","a unisex, unisex toilet, have unisex, was unis..."

In [26]:
# Option For Word Frequency
if shared_word_frequency:
    df_word_order_join_all = pd.merge(df_word_order_join_all,df_word_all, how="inner", on="word")
    df_word_order_join_all.drop_duplicates(inplace=True)
    df_word_order_join_all = df_word_order_join_all.loc[:,["word","frequency","twogram","threegram","fourgram","fivegram","sentence","twogram_in_threegram"]]
    df_word_order_join_all.sort_values(by="frequency", inplace=True, ascending=False)
    df_word_order_join_all.reset_index(drop=True, inplace=True)
else:
    pass

df_word_order_join_all

,word,frequency,twogram,threegram,fourgram,fivegram,sentence,twogram_in_threegram
0,you,102069964,"you korean, specific you, cypher you, you comm...","what do you, you do not, do not you, you have ...","you do not have, do you have a, no you do not,...","you do not have to, you do not have a, you do ...","and you, do you, you do, no you do not, you do...","do you, you have, you do, not you, you will, f..."
1,i,94447074,"anonymous i, i absorb, i contract, i wow, dies...","i do not, i am not, i am a, i have to, i will ...","i do not have, no i do not, i do not like, i a...","i do not have a, i do not have to, i do not li...","i am, i do, i will, i do not, i am not, no i d...","i am, i do, i will, i have, i was, and i, what..."
2,the,77481215,"the idealist, fantastic the, sophisticated the...","this is the, i am the, out of the, it was the,...","i am in the, i am not the, this is not the, do...","i do not have the, i do not like the, i am not...","what the, the what, the police, the baby, the ...","in the, to the, on the, of the, what the, for ..."
3,to,58281119,"to booster, to princess, to formula, to capaci...","i have to, you have to, we have to, not have t...","do not have to, you will have to, do i have to...","you do not have to, do not have to do, i do no...","i have to, you do not have to, you have to, to...","have to, to the, to me, to do, to you, you to,..."
4,is,50852895,"is simultaneous, is feminine, is bourgeois, tu...","what is it, this is not, this is a, this is th...","this is not a, is that what you, this is not t...","you have to do is, is not that what you, is th...","what is it, what is this, what is that, it is,...","this is, is not, is it, what is, is that, it i..."
...,...,...,...,...,...,...,...,...
2299,camp,6,"captain camp, camp zombie, camp doctor, camp e...","in the camp, to the camp, we will camp, in thi...","this is base camp, me to the camp, the camp wa...","this for a band camp, this is a training camp,...","the camp, base camp, what camp, a camp, in the...","the camp, to camp, base camp, this camp, camp ..."
2300,session,6,"practice session, detector session, session a,...","is in session, the session is, have a session,...","a group therapy session, congress is in sessio...","the meeting is in session, in a group therapy ...","i am in session, school is in session, this is...","in session, a session, the session, this sessi..."
2301,captain,6,"captain axis, captain camp, control captain, c...","this is captain, i am captain, is the captain,...","this is the captain, i am the captain, this is...","i am the captain of, captain of the football t...","this is the captain, the captain, no captain, ...","the captain, you captain, captain i, is captai..."
2302,have,6,"have name, have depressed, have tank, caps hav...","do not have, i have to, you have to, i have a,...","you do not have, i do not have, do not have to...","you do not have to, i do not have a, do not ha...","i have, have you, i have to, you do not have t...","i have, you have, have to, we have, have a, no..."
2303,point,6,"point bar, million point, out point, point cap...","not the point, the point is, to the point, the...","what is the point, you have a point, is not th...","that is not the point, what is the point of, i...","the point is, no point, your point, what is th...","the point, a point, your point, point is, poin..."

In [27]:
df_word_order_join_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Join_Result_Without_Frequency{file_ext}2.xlsx", index=False)

#### Copy Move And Delete

In [28]:
output_file = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared*{file_ext}2.xlsx")
output_file

['English_Turkish_Shared_Result_With_Frequency12.xlsx',
 'English_Turkish_Shared_Join_Result_Without_Frequency12.xlsx']

In [29]:
for k in output_file:
    source = k # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/5-Shared Word File/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [30]:
for i in output_file:
    try:
        os.remove(i)
    except:
        pass

### Prefix Suffix Result Analysis

In [ ]:
import os
import multiprocessing
import re
import pandas as pd
import numpy as np
import glob
from functools import reduce
from pathlib import Path
import shutil

In [ ]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
lang_pair = "Italian"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

# adding native word to shared word
word_start = 0  # 0  # native word start index
word_end = 28  # 28  # native word end index

# word sample
word_sample = True  # True, False
word_sample_num = 20

# shared word frequency
shared_word_frequency = True  # True, False

# prefix suffix file
prefix_suffix = True  # True, False  # always must be True in this part
native_word = False # True for adding native word
etymology_word = True  # True for adding etymology word

# adding output file extention
if (not prefix_suffix) & etymology_word & native_word:
    file_ext = "1"
elif (not prefix_suffix) & etymology_word & (not native_word):
    file_ext = "2"
elif prefix_suffix & etymology_word & native_word:
    file_ext = "3"
elif prefix_suffix & etymology_word & (not native_word):
    file_ext = "4"
elif prefix_suffix & (not etymology_word) & native_word:
    file_ext = "5"
elif (not prefix_suffix) & (not etymology_word) & native_word:
    file_ext = "6"
else:
    file_ext = "7"              
# 1 => for native word and etymology word without prefix suffix. 
# 2 => for only etymology word without prefix suffix. 
# 3 => for native word and etymology word with prefix suffix. prefix_suffix, native_word and etymology_word must be True. 
# 4 => for only etymology word with prefix suffix.
# 5 => for only native word with prefix suffix.
# 6 => for only native word without prefix suffix.
print(f"{file_ext}")

In [ ]:
def word_in_wordgroup(df, source_column, target_column):

    '''word_in_wordgroup(df, "word", "twogram"):
       df is dataframe, source_column and target_column are 
       dataframe column string name. source_column convert list
       values that are in target column.
    '''
    
    df_select = df[[f"{target_column}"]].dropna()
    df_word_result = pd.DataFrame()
    for i in df[f"{source_column}"].dropna():
        try:
            if word_sample:
                word_in_word_cluster = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)].head(word_sample_num)  # Option
            else:
                word_in_word_cluster = df_select[df_select[f"{target_column}"].str.contains(fr"(?:\s|^){i}(?:\s|$)", na=True)] 
        except:
            pass        
        word_in_word_cluster.insert(0,f"{source_column}",i)
        df_word_result = pd.concat([df_word_result,word_in_word_cluster], axis=0)
    df_word_result.reset_index(drop=True, inplace=True)

    return df_word_result

In [ ]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all

In [ ]:
df_word_prefix_suffix = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()} {lang_pair.capitalize()}/{lang_folder.capitalize()}_{lang_pair.capitalize()}_{word_end}_Word_Prefix_Suffix_Custom_Result_Manuel.xlsx")
df_word_prefix_suffix = df_word_prefix_suffix[["search_word","word"]]
df_word_prefix_suffix

In [ ]:
df_ety_prefix_suffix = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Web Scrapping/Result/{lang_folder.capitalize()}/{lang_folder.capitalize()} {lang_pair.capitalize()}/{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Word_Prefix_Suffix_Custom_Result.xlsx")
df_ety_prefix_suffix = df_ety_prefix_suffix[["search_word","word"]]
df_ety_prefix_suffix

In [ ]:
if file_ext == "3":
    df_all_word = pd.concat([df_word_prefix_suffix,df_ety_prefix_suffix],axis=0)
    df_all_word.drop_duplicates(inplace=True)
    df_all_word.reset_index(drop=True, inplace=True)
elif file_ext == "4":
    df_all_word = df_ety_prefix_suffix
    df_all_word.drop_duplicates(inplace=True)
    df_all_word.reset_index(drop=True, inplace=True)
elif file_ext == "5":
    df_all_word = df_word_prefix_suffix
    df_all_word.drop_duplicates(inplace=True)
    df_all_word.reset_index(drop=True, inplace=True)
else:
    pass
    
df_all_word

In [ ]:
df_all_word.search_word.nunique()

In [ ]:
df_all_word.word.nunique()

In [ ]:
df_shared_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/4-Shared Word/{lang_folder.capitalize()} {lang_pair.capitalize()}/{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result_With_Frequency{file_ext}.xlsx")
#df_shared_all = pd.read_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Result_With_Frequency.xlsx")
df_shared_all

In [ ]:
df_word_order_twogram = word_in_wordgroup(df_shared_all, "word", "twogram")
df_word_order_threegram = word_in_wordgroup(df_shared_all, "word", "threegram") 
df_word_order_fourgram = word_in_wordgroup(df_shared_all, "word", "fourgram") 
df_word_order_fivegram = word_in_wordgroup(df_shared_all, "word", "fivegram")
df_word_order_sentence = word_in_wordgroup(df_shared_all, "word", "sentence")

In [ ]:
df_word_order_twogram = pd.merge(df_word_order_twogram,df_all_word, how="inner", on="word")
df_word_order_threegram = pd.merge(df_word_order_threegram,df_all_word, how="inner", on="word")
df_word_order_fourgram = pd.merge(df_word_order_fourgram,df_all_word, how="inner", on="word")
df_word_order_fivegram = pd.merge(df_word_order_fivegram,df_all_word, how="inner", on="word")
df_word_order_sentence = pd.merge(df_word_order_sentence,df_all_word, how="inner", on="word")

In [ ]:
df_word_order_join_twogram = df_word_order_twogram.groupby(["search_word"])["twogram"].apply(", ".join).reset_index()   # df_word_order_11.groupby(["word"])[f"twogram_pair_{lang_pair.lower()}"].transform(lambda x: ','.join(x))
df_word_order_join_threegram = df_word_order_threegram.groupby(["search_word"])["threegram"].apply(", ".join).reset_index()
df_word_order_join_fourgram = df_word_order_fourgram.groupby(["search_word"])["fourgram"].apply(", ".join).reset_index()
df_word_order_join_fivegram = df_word_order_fivegram.groupby(["search_word"])["fivegram"].apply(", ".join).reset_index()
df_word_order_join_sentence = df_word_order_sentence.groupby(["search_word"])["sentence"].apply(", ".join).reset_index()

In [ ]:
dfs = [df_word_order_join_twogram,df_word_order_join_threegram,df_word_order_join_fourgram,df_word_order_join_fivegram,df_word_order_join_sentence]

In [ ]:
df_word_order_join_all = reduce(lambda  left,right: pd.merge(left,right, on=['search_word'], how='outer'), dfs)  # left,right make left to right merge
#df_word_order_join_all = reduce(lambda  right,left: pd.merge(left,right, on=['word'], how='outer'), dfs)  # right,left make right to left merge
df_word_order_join_all.rename(columns={"search_word":"word"}, inplace=True)
df_word_order_join_all

In [ ]:
# Option For Word Frequency
if shared_word_frequency:
    df_word_order_join_all = pd.merge(df_word_order_join_all,df_word_all, how="left", on="word")
    df_word_order_join_all.drop_duplicates(inplace=True)
    df_word_order_join_all = df_word_order_join_all.loc[:,["word","frequency","twogram","threegram","fourgram","fivegram","sentence"]]
    df_word_order_join_all.sort_values(by="frequency", inplace=True, ascending=False)
    df_word_order_join_all.reset_index(drop=True, inplace=True)
else:
    pass

df_word_order_join_all

In [ ]:
df_word_order_join_all.word.nunique()

In [ ]:
df_word_order_join_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Join_Result_Without_Frequency{file_ext}3.xlsx", index=False)

#### Copy Move And Delete

In [ ]:
output_file2 = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared*{file_ext}3.xlsx")
output_file2

In [ ]:
for l in output_file2:
    source = l # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/5-Shared Word File/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [ ]:
for j in output_file2:
    try:
        os.remove(j)
    except:
        pass

### Prefix Suffix Shared File Word Result Select

In [ ]:
import os
import multiprocessing
import re
import pandas as pd
import numpy as np
import glob
from functools import reduce
from pathlib import Path
import shutil

In [ ]:
## language pair (same previous part parameter)
#lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
#lang_pair = "French"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

# word sample
word_sample_num = 20

print(f"{file_ext}")

In [ ]:
def lower_strip_func(x):
    try:
        var_low = x.lower()
        var_out = var_low.strip()
    except:
        var_out = x
    return var_out

In [ ]:
df_shared_process_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/5-Shared Word File/{lang_folder.capitalize()} {lang_pair.capitalize()}/{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Join_Result_Without_Frequency{file_ext}3.xlsx")
df_shared_process_all

In [ ]:
df_word_all = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.lower().capitalize()}/Deployment/Data/Word/Word_Merge_Preprocess.xlsx")
df_word_all = df_word_all.loc[:,["word","frequency"]]
df_word_all["word"] = df_word_all["word"].apply(lambda x: lower_strip_func(x))
df_word_all

In [ ]:
df_twogram_all = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Twogram_Merge.csv")
df_twogram_all = df_twogram_all.loc[:,["twogram","frequency"]]
df_twogram_all["twogram"] = df_twogram_all["twogram"].apply(lambda x: lower_strip_func(x))
df_twogram_all

In [ ]:
df_threegram_all = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Threegram_Merge.csv")
df_threegram_all = df_threegram_all.loc[:,["threegram","frequency"]]
df_threegram_all["threegram"] = df_threegram_all["threegram"].apply(lambda x: lower_strip_func(x))
df_threegram_all

In [ ]:
df_fourgram_all = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Fourgram_Merge.csv")
df_fourgram_all = df_fourgram_all.loc[:,["fourgram","frequency"]]
df_fourgram_all["fourgram"] = df_fourgram_all["fourgram"].apply(lambda x: lower_strip_func(x))
df_fourgram_all

In [ ]:
df_fivegram_all = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/N Gram/Merge/Fivegram_Merge.csv")
df_fivegram_all = df_fivegram_all.loc[:,["fivegram","frequency"]]
df_fivegram_all["fivegram"] = df_fivegram_all["fivegram"].apply(lambda x: lower_strip_func(x))
df_fivegram_all

In [ ]:
df_sentence_all = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Result/Sentence/Merge/Sentence_Merge.csv")
df_sentence_all = df_sentence_all.loc[:,["sentence","frequency"]]
df_sentence_all["sentence"] = df_sentence_all["sentence"].apply(lambda x: lower_strip_func(x))
df_sentence_all

In [ ]:
for i in range(len(df_shared_process_all)):
    # column result
    try:
        # column result
        df_two_var = pd.DataFrame(df_shared_process_all.loc[i,"twogram"].split(", "), columns=["twogram"])
        # merge with all
        df_two_var_merge = pd.merge(df_two_var, df_twogram_all, how="left", on="twogram")
        df_two_var_merge.sort_values(by="frequency", ascending=False, inplace=True)
        df_two_var_merge_select = df_two_var_merge.head(word_sample_num)
        # to list value
        df_two_var_list = df_two_var_merge_select["twogram"].to_list()
        # list join
        df_two_var_list_join = ", ".join(df_two_var_list)
        # change value
        df_shared_process_all.loc[i,"twogram"] = df_two_var_list_join
    except:
        pass
    try:
        # column result
        df_three_var = pd.DataFrame(df_shared_process_all.loc[i,"threegram"].split(", "), columns=["threegram"])
        # merge with all
        df_three_var_merge = pd.merge(df_three_var, df_threegram_all, how="left", on="threegram")
        df_three_var_merge.sort_values(by="frequency", ascending=False, inplace=True)
        df_three_var_merge_select = df_three_var_merge.head(word_sample_num)
        # to list value
        df_three_var_list = df_three_var_merge_select["threegram"].to_list()
        # list join
        df_three_var_list_join = ", ".join(df_three_var_list)
        # change value
        df_shared_process_all.loc[i,"threegram"] = df_three_var_list_join
    except:
        pass
    try:
        # column result
        df_four_var = pd.DataFrame(df_shared_process_all.loc[i,"fourgram"].split(", "), columns=["fourgram"])
        # merge with all
        df_four_var_merge = pd.merge(df_four_var, df_fourgram_all, how="left", on="fourgram")
        df_four_var_merge.sort_values(by="frequency", ascending=False, inplace=True)
        df_four_var_merge_select = df_four_var_merge.head(word_sample_num)
        # to list value
        df_four_var_list = df_four_var_merge_select["fourgram"].to_list()
        # list join
        df_four_var_list_join = ", ".join(df_four_var_list)
        # change value
        df_shared_process_all.loc[i,"fourgram"] = df_four_var_list_join
    except:
        pass
    try:
        # column result
        df_five_var = pd.DataFrame(df_shared_process_all.loc[i,"fivegram"].split(", "), columns=["fivegram"])
        # merge with all
        df_five_var_merge = pd.merge(df_five_var, df_fivegram_all, how="left", on="fivegram")
        df_five_var_merge.sort_values(by="frequency", ascending=False, inplace=True)
        df_five_var_merge_select = df_five_var_merge.head(word_sample_num)
        # to list value
        df_five_var_list = df_five_var_merge_select["fivegram"].to_list()
        # list join
        df_five_var_list_join = ", ".join(df_five_var_list)
        # change value
        df_shared_process_all.loc[i,"fivegram"] = df_five_var_list_join
    except:
        pass
    try:
        # column result
        df_sentence_var = pd.DataFrame(df_shared_process_all.loc[i,"sentence"].split(", "), columns=["sentence"])
        # merge with all
        df_sentence_var_merge = pd.merge(df_sentence_var, df_sentence_all, how="left", on="sentence")
        df_sentence_var_merge.sort_values(by="frequency", ascending=False, inplace=True)
        df_sentence_var_merge_select = df_sentence_var_merge.head(word_sample_num)
        # to list value
        df_sentence_var_list = df_sentence_var_merge_select["sentence"].to_list()
        # list join
        df_sentence_var_list_join = ", ".join(df_sentence_var_list)
        # change value
        df_shared_process_all.loc[i,"sentence"] = df_sentence_var_list_join
    except:
        pass      

df_shared_process_all

In [ ]:
#df_shared_process_all.sort_values(by="frequency", ascending=False, inplace=True)

In [ ]:
df_shared_process_all.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared_Join_Select_Result_Without_Frequency{file_ext}4.xlsx", index=False)

#### Copy Move And Delete

In [ ]:
output_file3 = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_Shared*_Select_*{file_ext}4.xlsx")
output_file3

In [ ]:
for l in output_file3:
    source = l # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/5-Shared Word File/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [ ]:
for j in output_file3:
    try:
        os.remove(j)
    except:
        pass

### Word Count Analysis

In [80]:
import re
import pandas as pd
import numpy as np
import glob
from functools import reduce
from pathlib import Path
import shutil

In [81]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [82]:
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/5-Shared Word File/{lang_folder.capitalize()} {lang_pair.capitalize()}").mkdir(parents=True, exist_ok=True)
Path(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/Deploy Result Manuel").mkdir(parents=True, exist_ok=True)

In [83]:
def word_count_result(df,column_list): # df is dataframe, column_list is list value
    '''
    word_count_bool(df, column_list): df columns word count for word frequency\n
    df is dataframe, column_list is list value\n
    word_count_bool(df, ["word","twogram"]):
    '''
    list_all = []
    for i in df.loc[:,[x for x in column_list]].columns:
        var_list = df[f"{i}"].dropna().tolist()
        for j in var_list:
            list_all.append(j)
    text = " ".join(list_all)
    word_list = re.findall(r"\w+",text, re.UNICODE)
    df_word_list = pd.DataFrame(word_list, columns=["word"])
    #df_word_list.rename(columns={0:"word"}, inplace=True)
    df_word_count = pd.DataFrame(df_word_list.value_counts())
    df_word_count.reset_index(inplace=True)
    df_word_count.rename(columns={0:"word_count"}, inplace=True)
    
    return  df_word_count

#### Hybrid Words

In [ ]:
df_hybrid = pd.read_excel("Turkish English manual selected 2 gram hybrids 3.xlsx", sheet_name="2 gram hybrid")
df_hybrid

In [ ]:
df_hybrid_count = word_count_result(df_hybrid, ["twogram_pair1","twogram_pair2","twogram_pair3","twogram_pair4"])
df_hybrid_count

In [ ]:
df_hybrid_count_merge = pd.merge(df_hybrid,df_hybrid_count,how="left",on="word")
df_hybrid_count_merge

In [ ]:
df_hybrid_count_merge2 = pd.merge(df_hybrid,df_hybrid_count,how="outer",on="word")
df_hybrid_count_merge2

In [ ]:
writer = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_Hybrid_Word_Count.xlsx", engine='xlsxwriter')

In [ ]:
df_hybrid_count_merge.to_excel(writer, sheet_name='28_Hybrid_Word_Count', index=False)
df_hybrid_count_merge2.to_excel(writer, sheet_name='All_Hybrid_Word_Count', index=False)

In [ ]:
writer.save()

#### Target Words

In [ ]:
df_target = pd.read_excel("Turkish English manual selected 2 gram hybrids 3.xlsx", sheet_name="2 gram target")
df_target

In [ ]:
df_target_count = word_count_result(df_target, ["twogram_1","twogram_2","twogram_3","twogram_4"])
df_target_count

In [ ]:
df_target_count_merge = pd.merge(df_target,df_target_count,how="left",on="word")
df_target_count_merge

In [ ]:
df_target_count_merge2 = pd.merge(df_target,df_target_count,how="outer",on="word")
df_target_count_merge2

In [ ]:
writer2 = pd.ExcelWriter(f"{lang_folder}_{lang_pair}_Target_Word_Count.xlsx", engine='xlsxwriter')

In [ ]:
df_target_count_merge.to_excel(writer2, sheet_name='28_Target_Word_Count', index=False)
df_target_count_merge2.to_excel(writer2, sheet_name='All_Target_Word_Count', index=False)

In [ ]:
writer2.save()

#### All Target Hybrid Word Count

In [ ]:
df_target_count

In [ ]:
df_hybrid_count

In [ ]:
df_all_word = pd.concat([df_target_count, df_hybrid_count], axis=0)
df_all_word

In [ ]:
df_all_word.groupby("word")[["word_count"]].sum().reset_index(inplace=True)
df_all_word.sort_values(by="word_count", ascending=False, inplace=True)
df_all_word

In [ ]:
df_all_word.to_excel(f"{lang_folder}_{lang_pair}_Target_Hybrid_Word_Count.xlsx", index=False)

#### Copy Move And Delete

In [ ]:
output_file4 = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_*_Word_Count.xlsx")
output_file4

In [ ]:
for o in output_file4:
    source = o # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/5-Shared Word File/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [ ]:
for p in output_file4:
    try:
        os.remove(p)
    except:
        pass

#### Word Prefix Suffix Control ????

In [79]:
df_shared_word_manuel = pd.read_excel("Turkish English Manual Selected 2 Gram Hybrids2.xlsx", sheet_name="2 gram SV")
df_shared_word_manuel

,word,twogram_pair1,twogram_pair2,twogram_pair3,twogram_pair4,twogram_pair5,twogram_pair6
0,kontrol,trafik kontrol,kontrol paneli,sistem kontrolü,trafik kontrolü,NaN,NaN
1,doktor,doktor raporu,doktorun numarası,doktorun telefonu,doktorun ofisine,NaN,NaN
2,polis,polis şefi,trafik polisi,sivil polis,polis raporu,NaN,NaN
3,dolar,milyon dolar,milyon dolarlık,milyonlarca dolar,amerikan doları,NaN,NaN
4,komik,komik film,komik videoları,komik tipler,komik karakter,NaN,NaN
...,...,...,...,...,...,...,...
71,alarm,genel alarm,alarm sistemi,alarm şifresi,kriz alarmı,NaN,NaN
72,motor,jet motoru,motorlar stop,motor kontrol,turbo motor,elektrik motorları,NaN
73,otobüs,okul otobüsü,takım otobüse,otobüs terminali,turist otobüsü,tur otobüsü,otobüs turu
74,manyak,psikopat manyak,manyak film,manyak numara,manyak parti,NaN,NaN
75,makine,fotoğraf makinesi,kahve makinesi,tost makinesi,fotokopi makinesi,NaN,NaN

In [86]:
df_shared_word_manuel.columns[1:]

Index(['twogram_pair1', 'twogram_pair2', 'twogram_pair3', 'twogram_pair4',
       'twogram_pair5', 'twogram_pair6'],
      dtype='object')

In [87]:
df_shared_word_manuel_count = word_count_result(df_shared_word_manuel, df_shared_word_manuel.columns[1:])
df_shared_word_manuel_count

         word  word_count
0    numarası           9
1       kahve           8
2      futbol           8
3        okul           8
4      raporu           7
..        ...         ...
308      ligi           1
309    limiti           1
310   limuzin           1
311   listesi           1
312      şoku           1

[313 rows x 2 columns]

In [88]:
df_word_prefix = pd.read_excel("Turkish_English_Native_And_Shared_Word_Prefix_Suffix_Custom_Concat.xlsx")
df_word_prefix.drop_duplicates(inplace=True)
df_word_prefix

     search_word        word
0            ama         ama
1           bana        bana
2            ben         ben
3            ben       bence
4            ben       bende
...          ...         ...
6355         şut        şutu
6356         şut      şutunu
6357     şırınga     şırınga
6358     şırınga  şırıngayla
6359     şırınga   şırıngayı

[6360 rows x 2 columns]

In [96]:
df_merge_test = pd.merge(df_shared_word_manuel_count,df_word_prefix,how="left",on="word")
df_merge_test.drop_duplicates(inplace=True)
df_merge_test

         word  word_count search_word
0    numarası           9      numara
1       kahve           8       kahve
2      futbol           8      futbol
3        okul           8        okul
4      raporu           7       rapor
..        ...         ...         ...
332      ligi           1         lig
333    limiti           1       limit
334   limuzin           1     limuzin
335   listesi           1       liste
336      şoku           1         şok

[337 rows x 3 columns]

In [100]:
df_count_result = pd.DataFrame(df_merge_test.groupby("search_word")["word_count"].sum())
df_count_result.sort_values(by="word_count", ascending=False, inplace=True)
df_count_result.reset_index(inplace=True)
df_count_result

    search_word  word_count
0       telefon          11
1        numara          11
2          film          10
3        doktor          10
4          okul           9
..          ...         ...
238     ekspres           1
239     ekipman           1
240      orijin           1
241    orijinal           1
242      pijama           1

[243 rows x 2 columns]

In [102]:
df_count_result.to_excel("Turkish_English_2 gram hybrid_SV_Word_Count.xlsx", index=False)

### Youtube Search

In [44]:
import os
import re
import pandas as pd
import numpy as np
import glob
from functools import reduce
from pathlib import Path
import shutil
from itertools import islice

In [45]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

# parameter
sheets = "2 gram hybrid"  # 2 gram target, 2 gram hybrid
time_shift = 0.6
sample_num = 6

In [46]:
df_youtube_sentence = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Youtube/Result/{lang_folder.capitalize()}/Sentence Clean Merge/Clean_Youtube_Sentence_Merge_Result.csv")
df_youtube_sentence

,start_time,end_time,sentence,video_id
0,00:02:51.948,00:02:58.829,özgür bunlar normalde kamyon daha büyük araçla...,8V9tq1pe8eI
1,00:03:00.956,00:03:04.236,burcu arka tarafı bağlamak kolay olmayacak,8V9tq1pe8eI
2,00:03:13.434,00:03:16.327,özgür arabaya yarım tur attıracağım,8V9tq1pe8eI
3,00:03:17.235,00:03:21.338,burcu biraz daha devam et devam et tamam oldu,8V9tq1pe8eI
4,00:03:27.806,00:03:33.383,burcu şimdilik iki tekere takacağız ama kar ka...,8V9tq1pe8eI
...,...,...,...,...
3036932,00:07:51.970,00:07:52.470,umarız ki bu büyük ve güçlü teknoloji yanlış e...,YFFJ5FyZj4Q
3036933,00:07:52.470,00:08:02.304,daha faydalı ve özgün kurumlarda herkesin eşit...,YFFJ5FyZj4Q
3036934,00:08:02.498,00:08:04.178,i zlediğiniz için teşekkürler,YFFJ5FyZj4Q
3036935,00:08:04.178,00:08:08.089,yararlandığım kaynakları açıklamada link olara...,YFFJ5FyZj4Q
3036936,00:08:08.089,00:08:11.770,i leri düzey okuma ve araştırma yapmak isteyen...,YFFJ5FyZj4Q

In [47]:
df_youtube_sentence['start_time'] = pd.to_timedelta(df_youtube_sentence['start_time']) # data type converted timedelta for second 
df_youtube_sentence['end_time'] = pd.to_timedelta(df_youtube_sentence['end_time'])

In [48]:
df_youtube_sentence['start_time'] = df_youtube_sentence['start_time'].apply(lambda x: x.total_seconds()) # convert seconds
df_youtube_sentence['end_time'] = df_youtube_sentence['end_time'].apply(lambda x: x.total_seconds())
df_youtube_sentence

,start_time,end_time,sentence,video_id
0,171.948,178.829,özgür bunlar normalde kamyon daha büyük araçla...,8V9tq1pe8eI
1,180.956,184.236,burcu arka tarafı bağlamak kolay olmayacak,8V9tq1pe8eI
2,193.434,196.327,özgür arabaya yarım tur attıracağım,8V9tq1pe8eI
3,197.235,201.338,burcu biraz daha devam et devam et tamam oldu,8V9tq1pe8eI
4,207.806,213.383,burcu şimdilik iki tekere takacağız ama kar ka...,8V9tq1pe8eI
...,...,...,...,...
3036932,471.970,472.470,umarız ki bu büyük ve güçlü teknoloji yanlış e...,YFFJ5FyZj4Q
3036933,472.470,482.304,daha faydalı ve özgün kurumlarda herkesin eşit...,YFFJ5FyZj4Q
3036934,482.498,484.178,i zlediğiniz için teşekkürler,YFFJ5FyZj4Q
3036935,484.178,488.089,yararlandığım kaynakları açıklamada link olara...,YFFJ5FyZj4Q
3036936,488.089,491.770,i leri düzey okuma ve araştırma yapmak isteyen...,YFFJ5FyZj4Q

In [49]:
df_word_group_select = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/Deploy Result Manuel/\
{lang_folder.capitalize()} {lang_pair.capitalize()}/{lang_folder.capitalize()} {lang_pair.capitalize()} Manual Selected 2 Gram Hybrids.xlsx", sheet_name= f"{sheets}")
df_word_group_select

In [51]:
## temp
#df_word_group_select = pd.read_excel("Turkish English Manual Selected 2 Gram Hybrids2.xlsx", sheet_name="2 gram SV")
#df_word_group_select

,word,twogram_pair1,twogram_pair2,twogram_pair3,twogram_pair4,twogram_pair5,twogram_pair6
0,kontrol,trafik kontrol,kontrol paneli,sistem kontrolü,trafik kontrolü,NaN,NaN
1,doktor,doktor raporu,doktorun numarası,doktorun telefonu,doktorun ofisine,NaN,NaN
2,polis,polis şefi,trafik polisi,sivil polis,polis raporu,NaN,NaN
3,dolar,milyon dolar,milyon dolarlık,milyonlarca dolar,amerikan doları,NaN,NaN
4,komik,komik film,komik videoları,komik tipler,komik karakter,NaN,NaN
...,...,...,...,...,...,...,...
71,alarm,genel alarm,alarm sistemi,alarm şifresi,kriz alarmı,NaN,NaN
72,motor,jet motoru,motorlar stop,motor kontrol,turbo motor,elektrik motorları,NaN
73,otobüs,okul otobüsü,takım otobüse,otobüs terminali,turist otobüsü,tur otobüsü,otobüs turu
74,manyak,psikopat manyak,manyak film,manyak numara,manyak parti,NaN,NaN
75,makine,fotoğraf makinesi,kahve makinesi,tost makinesi,fotokopi makinesi,NaN,NaN

In [52]:
search_list = []
for i in range(len(df_word_group_select)):
    for j in df_word_group_select.columns[1:]:
        string = df_word_group_select.loc[i,j]
        
        if pd.isnull(string) == False and string != 'nan':
            search_list.append(string.strip())
        else:
            pass
        
        #search_list.append(string.strip())
        #search_list = [x for x in search_list if np.isnan(x) == False]
#search_list

In [53]:
def word_group_youtube(df, search_list, target_column, sample_num):
    '''
    word_group_youtube(df_youtube_sentence, search_list, "sentence", 6)
    ''' 
    df_search_result = pd.DataFrame()
    for j in search_list:
        try:
            df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=True)].sample(sample_num)
        except:
            df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=True)].head(sample_num)
        #df_result = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=True)]  # sentence length part
        #df_result.sort_values(f"{target_column}",key=lambda x:x.str.len(), inplace=True)
        #df_select = df_result.head(sample_num)
        df_select.insert(0,"search_string",j)
        df_search_result = pd.concat([df_search_result,df_select], axis=0)
    df_search_result.reset_index(inplace=True, drop=True)
    
    return df_search_result

In [54]:
#df_search_result = pd.DataFrame()
#for i in range(len(df_english_select)):
#    for j in df_english_select.columns[1:]:
#        string = df_english_select.loc[i,j]
#        df_result = df_youtube_sent[df_youtube_sent.sentence.str.contains(fr"(?:\s|^){string}(?:\s|$)", na=True)]
#        df_result.sort_values("sentence",key=lambda x:x.str.len(), inplace=True)
#        df_select = df_result.head(6)
#        df_select.insert(0,"search_string",string)
#        df_search_result = pd.concat([df_search_result,df_select], axis=0)
#df_search_result

In [55]:
df_search_result = word_group_youtube(df_youtube_sentence, search_list, "sentence", 6)
df_search_result

,search_string,start_time,end_time,sentence,video_id
0,trafik kontrol,153.880,157.320,ben de hayatımda ilk kez bir hava trafik kontr...,zLD0TgRGl24
1,trafik kontrol,1002.804,1007.295,birincisi üniversitelerin hava trafik kontrol ...,zLD0TgRGl24
2,trafik kontrol,1020.000,1025.660,bu hava trafik kontrol kulelerinin olmazsa olm...,zLD0TgRGl24
3,trafik kontrol,2496.507,2499.157,hemen yakındaki trafik kontrol noktalarına hab...,OOF8y6PCb90
4,kontrol paneli,1008.808,1012.660,ömer vay be arda orada kontrol paneli var bak ...,o9KfgVAxFk4
...,...,...,...,...,...
633,tost makinesi,1125.760,1127.980,tost makinesi zaten söylememe gerek yok,g9s7UhT22Uc
634,tost makinesi,573.187,577.581,tost makinesi ve kettle gibi böyle görseli bir...,GcLoBlWydDw
635,tost makinesi,460.971,462.971,tost makinesi,RN3BR75sWJs
636,fotokopi makinesi,5419.000,5423.360,adam kırtasiyeci sabahtan akşama kadar fotokop...,Ri8OHAHmTJw
637,fotokopi makinesi,5419.000,5423.360,adam kırtasiyeci sabahtan akşama kadar fotokop...,lREyKzqpCjE

In [56]:
def word_group_time_loc(df, search, start_sent, end_sent, sent, sent_video_id):
    '''
    word_group_time_loc(df_search_result, "search_string", "start_time", "end_time", "sentence", "video_id")
    '''
    word_time_loc_list = []
    for i in range(len(df)):
        word = df.loc[i,f"{search}"]
        start_time = df.loc[i,f"{start_sent}"]
        end_time = df.loc[i,f"{end_sent}"]
        sentence = df.loc[i,f"{sent}"]
        video_id = df.loc[i,f"{sent_video_id}"]
        time_length = end_time-start_time
        sentence_length = len(sentence)
        time_length_ratio = time_length/sentence_length
        loc_list = []
        for j in re.finditer(fr"(?:\s|^){word}(?:\s|$)", sentence, re.IGNORECASE|re.UNICODE):
            loc_list.append(j)
            start = loc_list[0].start()
            end = loc_list[0].end()
            start_loc = start_time+(start*time_length_ratio)
            end_loc = start_time+(end*time_length_ratio)
        word_time_loc_list.append([word,start_loc,end_loc,sentence,video_id])
    df_word_time_loc = pd.DataFrame(word_time_loc_list, columns=[f"{search}",f"{start_sent}",f"{end_sent}",f"{sent}",f"{sent_video_id}"])

    return df_word_time_loc

In [57]:
df_word_group_time_loc_result = word_group_time_loc(df_search_result, "search_string", "start_time", "end_time", "sentence", "video_id")
df_word_group_time_loc_result

,search_string,start_time,end_time,sentence,video_id
0,trafik kontrol,155.501714,156.288000,ben de hayatımda ilk kez bir hava trafik kontr...,zLD0TgRGl24
1,trafik kontrol,1004.756609,1005.798000,birincisi üniversitelerin hava trafik kontrol ...,zLD0TgRGl24
2,trafik kontrol,1020.471667,1021.549762,bu hava trafik kontrol kulelerinin olmazsa olm...,zLD0TgRGl24
3,trafik kontrol,2497.243111,2498.028296,hemen yakındaki trafik kontrol noktalarına hab...,OOF8y6PCb90
4,kontrol paneli,1009.841463,1010.593073,ömer vay be arda orada kontrol paneli var bak ...,o9KfgVAxFk4
...,...,...,...,...,...
633,tost makinesi,1125.760000,1126.556923,tost makinesi zaten söylememe gerek yok,g9s7UhT22Uc
634,tost makinesi,573.187000,574.326185,tost makinesi ve kettle gibi böyle görseli bir...,GcLoBlWydDw
635,tost makinesi,460.971000,462.971000,tost makinesi,RN3BR75sWJs
636,fotokopi makinesi,5421.472836,5422.709254,adam kırtasiyeci sabahtan akşama kadar fotokop...,Ri8OHAHmTJw
637,fotokopi makinesi,5421.472836,5422.709254,adam kırtasiyeci sabahtan akşama kadar fotokop...,lREyKzqpCjE

In [58]:
#time_shift = 0.3
df_word_group_time_loc_result.start_time = df_word_group_time_loc_result.start_time.apply(lambda x: (x-time_shift))
df_word_group_time_loc_result.end_time = df_word_group_time_loc_result.end_time.apply(lambda x: (x+time_shift))
df_word_group_time_loc_result

,search_string,start_time,end_time,sentence,video_id
0,trafik kontrol,154.901714,156.888000,ben de hayatımda ilk kez bir hava trafik kontr...,zLD0TgRGl24
1,trafik kontrol,1004.156609,1006.398000,birincisi üniversitelerin hava trafik kontrol ...,zLD0TgRGl24
2,trafik kontrol,1019.871667,1022.149762,bu hava trafik kontrol kulelerinin olmazsa olm...,zLD0TgRGl24
3,trafik kontrol,2496.643111,2498.628296,hemen yakındaki trafik kontrol noktalarına hab...,OOF8y6PCb90
4,kontrol paneli,1009.241463,1011.193073,ömer vay be arda orada kontrol paneli var bak ...,o9KfgVAxFk4
...,...,...,...,...,...
633,tost makinesi,1125.160000,1127.156923,tost makinesi zaten söylememe gerek yok,g9s7UhT22Uc
634,tost makinesi,572.587000,574.926185,tost makinesi ve kettle gibi böyle görseli bir...,GcLoBlWydDw
635,tost makinesi,460.371000,463.571000,tost makinesi,RN3BR75sWJs
636,fotokopi makinesi,5420.872836,5423.309254,adam kırtasiyeci sabahtan akşama kadar fotokop...,Ri8OHAHmTJw
637,fotokopi makinesi,5420.872836,5423.309254,adam kırtasiyeci sabahtan akşama kadar fotokop...,lREyKzqpCjE

In [59]:
df_word_group_time_loc_result.start_time = df_word_group_time_loc_result.start_time.apply(lambda x: round(x))
df_word_group_time_loc_result.end_time = df_word_group_time_loc_result.end_time.apply(lambda x: round(x))
df_word_group_time_loc_result

,search_string,start_time,end_time,sentence,video_id
0,trafik kontrol,155,157,ben de hayatımda ilk kez bir hava trafik kontr...,zLD0TgRGl24
1,trafik kontrol,1004,1006,birincisi üniversitelerin hava trafik kontrol ...,zLD0TgRGl24
2,trafik kontrol,1020,1022,bu hava trafik kontrol kulelerinin olmazsa olm...,zLD0TgRGl24
3,trafik kontrol,2497,2499,hemen yakındaki trafik kontrol noktalarına hab...,OOF8y6PCb90
4,kontrol paneli,1009,1011,ömer vay be arda orada kontrol paneli var bak ...,o9KfgVAxFk4
...,...,...,...,...,...
633,tost makinesi,1125,1127,tost makinesi zaten söylememe gerek yok,g9s7UhT22Uc
634,tost makinesi,573,575,tost makinesi ve kettle gibi böyle görseli bir...,GcLoBlWydDw
635,tost makinesi,460,464,tost makinesi,RN3BR75sWJs
636,fotokopi makinesi,5421,5423,adam kırtasiyeci sabahtan akşama kadar fotokop...,Ri8OHAHmTJw
637,fotokopi makinesi,5421,5423,adam kırtasiyeci sabahtan akşama kadar fotokop...,lREyKzqpCjE

In [60]:
df_word_group_time_loc_result["video_url"] = "https://www.youtube.com/watch?v="+df_word_group_time_loc_result['video_id'].map(str)+"&t="+df_word_group_time_loc_result['start_time'].map(str)+"s"
df_word_group_time_loc_result

,search_string,start_time,end_time,sentence,video_id,video_url
0,trafik kontrol,155,157,ben de hayatımda ilk kez bir hava trafik kontr...,zLD0TgRGl24,https://www.youtube.com/watch?v=zLD0TgRGl24&t=...
1,trafik kontrol,1004,1006,birincisi üniversitelerin hava trafik kontrol ...,zLD0TgRGl24,https://www.youtube.com/watch?v=zLD0TgRGl24&t=...
2,trafik kontrol,1020,1022,bu hava trafik kontrol kulelerinin olmazsa olm...,zLD0TgRGl24,https://www.youtube.com/watch?v=zLD0TgRGl24&t=...
3,trafik kontrol,2497,2499,hemen yakındaki trafik kontrol noktalarına hab...,OOF8y6PCb90,https://www.youtube.com/watch?v=OOF8y6PCb90&t=...
4,kontrol paneli,1009,1011,ömer vay be arda orada kontrol paneli var bak ...,o9KfgVAxFk4,https://www.youtube.com/watch?v=o9KfgVAxFk4&t=...
...,...,...,...,...,...,...
633,tost makinesi,1125,1127,tost makinesi zaten söylememe gerek yok,g9s7UhT22Uc,https://www.youtube.com/watch?v=g9s7UhT22Uc&t=...
634,tost makinesi,573,575,tost makinesi ve kettle gibi böyle görseli bir...,GcLoBlWydDw,https://www.youtube.com/watch?v=GcLoBlWydDw&t=...
635,tost makinesi,460,464,tost makinesi,RN3BR75sWJs,https://www.youtube.com/watch?v=RN3BR75sWJs&t=...
636,fotokopi makinesi,5421,5423,adam kırtasiyeci sabahtan akşama kadar fotokop...,Ri8OHAHmTJw,https://www.youtube.com/watch?v=Ri8OHAHmTJw&t=...
637,fotokopi makinesi,5421,5423,adam kırtasiyeci sabahtan akşama kadar fotokop...,lREyKzqpCjE,https://www.youtube.com/watch?v=lREyKzqpCjE&t=...

In [62]:
#df_word_group_time_loc_result.to_excel("Turkish_English_2 Gram Hybrid_SV_Youtube_Result.xlsx", index=False)

In [40]:
df_word_group_time_loc_result.to_excel(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_{sheets.capitalize()}_\
{sample_num}_Youtube_{time_shift}s_Timeshift_Result.xlsx", index=False)

#### Copy Move And Delete

In [41]:
output_file5 = glob.glob(f"{lang_folder.capitalize()}_{lang_pair.capitalize()}_*_{sample_num}_Youtube_{time_shift}s_Timeshift_Result.xlsx")
output_file5

['Turkish_English_2 gram hybrid_6_Youtube_0.6s_Timeshift_Result.xlsx']

In [42]:
for y in output_file5:
    source = y # source directory
    destination = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Deployment/Result/5-Shared Word File/{lang_folder.capitalize()} {lang_pair.capitalize()}"
    shutil.copy2(source, destination)

In [43]:
for z in output_file5:
    try:
        os.remove(z)
    except:
        pass