### Word In Visual Genome Process

In [3]:
#!pip install --upgrade pip

In [4]:
#!pip install --upgrade regex

In [5]:
#!pip install --upgrade pandas

In [6]:
#!pip install --upgrade yellowbrick

In [7]:
#!pip install --upgrade scipy

In [8]:
#import re
#print(re.__version__)

In [9]:
#import pandas
#print(pandas.__version__)

In [10]:
import os
import sys
import pandas as pd
import numpy as np
import re
import glob
from pathlib import Path
import shutil
from os.path import isfile, join

In [11]:
# language pair
lang_folder = "Turkish"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> target language for learner
#lang_pair = "English"  # Arabic, English, French, German, Turkish, Spanish, Portuguese, Dutch, Italian ==> native language

In [12]:
path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/\
Lemma Stem POS/Result/4-Word In Visual Genome"

Path(path).mkdir(parents=True, exist_ok=True)

In [13]:
def word_group_dataframe(df, search_list, target_column, sample_num):
    '''
    word_group_dataframe(df_youtube_sentence, search_list, "sentence", 6)\n
    df_youtube_sentence is dataframe and "sentence" is its column for external searching_list
    ''' 
    df_search_result = pd.DataFrame()
    for j in search_list:
        df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=False)]
        #try:
        #    df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=False)].sample(sample_num)
        #    #df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=True)].tail(sample_num)  # will test
        #except:
        #    df_select = df[df[f"{target_column}"].str.contains(fr"(?:\s|^){j}(?:\s|$)", na=False)].head(sample_num)
        df_select.insert(0,"search_string",j)
        df_search_result = pd.concat([df_search_result,df_select], axis=0)
    df_search_result.reset_index(inplace=True, drop=True)
    
    return df_search_result

#### Visual Genome Data

In [14]:
df_genome_objects = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Lemma Stem POS/Result/3-Visual Genome Process/Visual_Genome_Objects_Analysis.csv")
df_genome_objects

,object_id,names,image_id,image_url,synsets,merged_object_ids,height,width,x_koor,y_koor
0,1058549,trees,1,https://cs.stanford.edu/people/rak248/VG_100K_...,tree.n.01,NaN,557,799,0,0
1,1058534,sidewalk,1,https://cs.stanford.edu/people/rak248/VG_100K_...,sidewalk.n.01,5046,290,722,78,308
2,1058508,building,1,https://cs.stanford.edu/people/rak248/VG_100K_...,building.n.01,NaN,538,222,1,0
3,1058539,street,1,https://cs.stanford.edu/people/rak248/VG_100K_...,street.n.01,3798578,258,359,439,283
4,1058543,wall,1,https://cs.stanford.edu/people/rak248/VG_100K_...,wall.n.01,NaN,535,135,0,1
...,...,...,...,...,...,...,...,...,...,...
2516934,3506171,number,2417997,http://crowdfile.blob.core.chinacloudapi.cn/46...,numeral.n.01,NaN,24,28,188,228
2516935,3786799,plate,2417997,http://crowdfile.blob.core.chinacloudapi.cn/46...,plate.n.04,NaN,54,89,238,233
2516936,3103226,road,2417997,http://crowdfile.blob.core.chinacloudapi.cn/46...,road.n.01,NaN,83,90,312,247
2516937,3094589,road,2417997,http://crowdfile.blob.core.chinacloudapi.cn/46...,road.n.01,NaN,121,495,2,208
2516938,3422177,sky,2417997,http://crowdfile.blob.core.chinacloudapi.cn/46...,sky.n.01,NaN,170,497,1,2

In [15]:
df_genome_objects["names"].nunique()

82825

In [16]:
df_genome_attributes = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Lemma Stem POS/Result/3-Visual Genome Process/Visual_Genome_Attributes_Analysis.csv")
df_genome_attributes

,object_id,names,image_id,attributes,synsets,height,width,x_koor,y_koor
0,1058498,clock,1,"green , tall",clock.n.01,339,79,421,91
1,5046,street,1,sidewalk,street.n.01,262,714,77,328
2,5045,shade,1,NaN,shade.n.01,192,274,119,338
3,1058529,man,1,NaN,man.n.01,262,60,238,249
4,5048,sneakers,1,grey,gym_shoe.n.01,26,52,243,489
...,...,...,...,...,...,...,...,...,...
3802369,3422177,sky,2417997,"crystal clear , blue",sky.n.01,170,497,1,2
3802370,3103226,road,2417997,NaN,road.n.01,83,90,312,247
3802371,2712437,doors,2417997,NaN,door.n.01,144,50,98,127
3802372,3140197,bus,2417997,green,bus.n.01,155,225,29,109
3802373,3561727,door,2417997,NaN,door.n.01,113,50,100,130

In [17]:
df_genome_relationships = pd.read_csv(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/Turkish/Lemma Stem POS/Result/3-Visual Genome Process/Visual_Genome_Relationships_Analysis.csv")
df_genome_relationships

,image_id,obj_names,obj_object_id,obj_synsets,obj_merged_object_ids,obj_height,obj_width,obj_x_koor,obj_y_koor,relationships_id,synsets,sub_name,sub_object_id,sub_synsets,sub_height,sub_width,sub_x_koor,sub_y_koor,predicate
0,1,sidewalk,1058534,sidewalk.n.01,5046,290,722,78,308,15927,along.r.01,shade,5045,shade.n.01,192,274,119,338,on
1,1,shoes,1058525,shoe.n.01,5048,28,48,388,485,15928,wear.v.01,man,1058529,man.n.01,262,60,238,249,wears
2,1,NaN,5050,headlight.n.01,NaN,15,23,514,366,15929,have.v.01,car,5049,car.n.01,98,74,479,315,has
3,1,NaN,1058508,building.n.01,NaN,536,218,1,2,15930,along.r.01,sign,1058507,sign.n.02,182,88,118,13,on
4,1,NaN,1058534,sidewalk.n.01,NaN,266,722,77,331,15931,along.r.01,tree trunk,5055,trunk.n.01,327,87,622,234,on
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2316099,2417997,NaN,3103225,bus.n.01,NaN,193,289,14,110,4245033,along.r.01,plate,3786799,plate.n.04,54,89,238,233,on
2316100,2417997,NaN,3786800,desert.n.01,NaN,119,157,301,211,4245034,in.r.01,NaN,3103225,bus.n.01,182,287,14,110,in
2316101,2417997,NaN,3103226,road.n.01,NaN,83,90,312,247,3722727,along.r.01,bus,3103225,bus.n.01,193,289,14,110,on
2316102,2417997,NaN,2712437,door.n.01,NaN,144,50,98,127,3880229,NaN,bus,3103225,bus.n.01,193,289,14,110,with
2316103,2417997,NaN,3140197,bus.n.01,NaN,155,225,29,109,3722730,along.r.01,door,3561727,door.n.01,113,50,100,130,on

#### Word Search In Genome Data

In [18]:
df_word_select = pd.read_excel(f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Result/2-Word Select Process/{lang_folder.capitalize()}_45000_Lemma_Pos_Process.xlsx")
df_word_select

,pos.ud_imst,word,frequency,lemma.spacylookup,stem,word_en_translate,lemma_en_translate
0,NUM,bir,18835735,bir,NaN,a,a
1,DET,bu,11062659,bu,NaN,this,this
2,PRON,ne,8025880,ne,NaN,what,what
3,CCONJ,ve,7766036,ve,NaN,and,and
4,ADP,için,5484109,için,NaN,for,for
...,...,...,...,...,...,...,...
44995,NOUN,hayırbu,871,hayırbu,NaN,no,no
44996,NOUN,konferansına,871,konferans,NaN,to the conference,conference
44997,NOUN,kardeşisin,871,kardeş,NaN,your brother,brother
44998,VERB,kaldırıyorsun,871,kaldır,NaN,you remove,lift
44999,NOUN,kuzenlerim,871,kuzen,NaN,NaN,NaN

In [19]:
word_list = ['an','anlama','doğum','gidiyor','günün','istediğim','istediğin','istediğiniz','kutlu','olmuş','soru','söylemek','zamanki','zor','şuna']

In [21]:
df_word_raw = df_word_select[df_word_select["word"].isin(word_list)]
df_word_raw.reset_index(drop=True, inplace=True)
df_word_raw.drop(["frequency","stem"], inplace=True, axis=1)
df_word_raw

<ipython-input-21-edd78fc4eb41>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_word_raw.drop(["frequency","stem"], inplace=True, axis=1)

,pos.ud_imst,word,lemma.spacylookup,word_en_translate,lemma_en_translate
0,NOUN,an,an,moment,moment
1,ADJ,zor,zor,hard,hard
2,VERB,gidiyor,git,going,go
3,VERB,olmuş,ol,dead,die
4,NOUN,istediğim,iste,what i want,at work
5,VERB,söylemek,söyle,to say,say
6,NOUN,şuna,şu,to this,this
7,NOUN,soru,soru,question,question
8,NOUN,doğum,doğum,birth,birth
9,NOUN,istediğin,iste,you want,at work
10,NOUN,günün,gün,your day,day
11,VERB,anlama,anlam,understanding,meaning
12,NOUN,zamanki,zaman,the time,time
13,VERB,istediğiniz,iste,you want,at work
14,ADJ,kutlu,kutlu,blessed,blessed

In [22]:
df_word_raw_lemma_trans_list = df_word_raw["lemma_en_translate"].to_list()
df_word_raw_word_trans_list = df_word_raw["word_en_translate"].to_list()

In [23]:
df_genome_search_result = word_group_dataframe(df_genome_objects, df_word_raw_lemma_trans_list, "names", 10)
df_genome_search_result.rename(columns={"search_string":"lemma_en_translate"}, inplace=True)
df_genome_search_result

,lemma_en_translate,object_id,names,image_id,image_url,synsets,merged_object_ids,height,width,x_koor,y_koor
0,hard,1757980,hard hat,2347159,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,NaN,5,6,252,212
1,hard,200201,hard hat,2412216,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,NaN,29,45,222,246
2,hard,616971,hard,2368643,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,108,315,0,221
3,hard,3593526,hard drive,2350505,http://crowdfile.blob.core.chinacloudapi.cn/46...,drive.n.01,NaN,42,53,153,73
4,hard,2146134,hard hat,2366213,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,"3880401 , 1721646",11,17,382,249
...,...,...,...,...,...,...,...,...,...,...,...
72,time,769868,time,2362939,http://crowdfile.blob.core.chinacloudapi.cn/46...,clock_time.n.01,NaN,250,99,225,50
73,time,776269,dark night time sky,2362215,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,3751439,222,327,0,0
74,time,3933842,time zone,2330844,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,15,56,87,176
75,time,387985,time,2402631,http://crowdfile.blob.core.chinacloudapi.cn/46...,clock_time.n.01,NaN,23,16,184,131
76,time,3745795,time,2363439,http://crowdfile.blob.core.chinacloudapi.cn/46...,clock_time.n.01,NaN,57,63,158,79

In [24]:
df_genome_search_result["lemma_en_translate"].nunique()

10

In [25]:
df_genome_search_result_merge = pd.merge(df_genome_search_result,df_word_raw,how="left",on="lemma_en_translate")
df_genome_search_result_merge

,lemma_en_translate,object_id,names,image_id,image_url,synsets,merged_object_ids,height,width,x_koor,y_koor,pos.ud_imst,word,lemma.spacylookup,word_en_translate
0,hard,1757980,hard hat,2347159,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,NaN,5,6,252,212,ADJ,zor,zor,hard
1,hard,200201,hard hat,2412216,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,NaN,29,45,222,246,ADJ,zor,zor,hard
2,hard,616971,hard,2368643,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,108,315,0,221,ADJ,zor,zor,hard
3,hard,3593526,hard drive,2350505,http://crowdfile.blob.core.chinacloudapi.cn/46...,drive.n.01,NaN,42,53,153,73,ADJ,zor,zor,hard
4,hard,2146134,hard hat,2366213,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,"3880401 , 1721646",11,17,382,249,ADJ,zor,zor,hard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,time,769868,time,2362939,http://crowdfile.blob.core.chinacloudapi.cn/46...,clock_time.n.01,NaN,250,99,225,50,NOUN,zamanki,zaman,the time
73,time,776269,dark night time sky,2362215,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,3751439,222,327,0,0,NOUN,zamanki,zaman,the time
74,time,3933842,time zone,2330844,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,15,56,87,176,NOUN,zamanki,zaman,the time
75,time,387985,time,2402631,http://crowdfile.blob.core.chinacloudapi.cn/46...,clock_time.n.01,NaN,23,16,184,131,NOUN,zamanki,zaman,the time
76,time,3745795,time,2363439,http://crowdfile.blob.core.chinacloudapi.cn/46...,clock_time.n.01,NaN,57,63,158,79,NOUN,zamanki,zaman,the time

In [30]:
#df_genome_search_result_merge.to_excel("test1.xlsx", index=False)

In [31]:
df_genome_search_result2 = word_group_dataframe(df_genome_objects, df_word_raw_word_trans_list, "names", 20)
df_genome_search_result2.rename(columns={"search_string":"word_en_translate"}, inplace=True)
df_genome_search_result2

,word_en_translate,object_id,names,image_id,image_url,synsets,merged_object_ids,height,width,x_koor,y_koor
0,hard,2148534,hard hat,2349708,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,1683116,21,17,194,145
1,hard,3898907,hard hat,2351040,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,33,32,209,84
2,hard,2798621,hard hat,2336789,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,NaN,37,59,253,65
3,hard,1746578,hard hat,2370647,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,NaN,160,258,173,0
4,hard,980857,hard,2327221,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,30,152,38,170
...,...,...,...,...,...,...,...,...,...,...,...
68,question,1001753,question mark,2319465,http://crowdfile.blob.core.chinacloudapi.cn/46...,question_mark.n.01,NaN,12,15,466,228
69,question,1054852,question mark,2316283,http://crowdfile.blob.core.chinacloudapi.cn/46...,question_mark.n.01,NaN,10,5,211,190
70,birth,272967,birth,2407824,http://crowdfile.blob.core.chinacloudapi.cn/46...,birth.n.01,NaN,165,492,7,86
71,birth,4101782,birth date,2405799,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,18,74,112,68
72,birth,2318606,birth,2374640,http://crowdfile.blob.core.chinacloudapi.cn/46...,birth.n.01,NaN,23,41,106,144

In [32]:
df_genome_search_result2["word_en_translate"].nunique()

5

In [33]:
df_genome_search_result_merge2 = pd.merge(df_genome_search_result2,df_word_raw,how="left",on="word_en_translate")
df_genome_search_result_merge2

,word_en_translate,object_id,names,image_id,image_url,synsets,merged_object_ids,height,width,x_koor,y_koor,pos.ud_imst,word,lemma.spacylookup,lemma_en_translate
0,hard,2148534,hard hat,2349708,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,1683116,21,17,194,145,ADJ,zor,zor,hard
1,hard,3898907,hard hat,2351040,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,33,32,209,84,ADJ,zor,zor,hard
2,hard,2798621,hard hat,2336789,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,NaN,37,59,253,65,ADJ,zor,zor,hard
3,hard,1746578,hard hat,2370647,http://crowdfile.blob.core.chinacloudapi.cn/46...,hat.n.01,NaN,160,258,173,0,ADJ,zor,zor,hard
4,hard,980857,hard,2327221,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,30,152,38,170,ADJ,zor,zor,hard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,question,1001753,question mark,2319465,http://crowdfile.blob.core.chinacloudapi.cn/46...,question_mark.n.01,NaN,12,15,466,228,NOUN,soru,soru,question
69,question,1054852,question mark,2316283,http://crowdfile.blob.core.chinacloudapi.cn/46...,question_mark.n.01,NaN,10,5,211,190,NOUN,soru,soru,question
70,birth,272967,birth,2407824,http://crowdfile.blob.core.chinacloudapi.cn/46...,birth.n.01,NaN,165,492,7,86,NOUN,doğum,doğum,birth
71,birth,4101782,birth date,2405799,http://crowdfile.blob.core.chinacloudapi.cn/46...,NaN,NaN,18,74,112,68,NOUN,doğum,doğum,birth
72,birth,2318606,birth,2374640,http://crowdfile.blob.core.chinacloudapi.cn/46...,birth.n.01,NaN,23,41,106,144,NOUN,doğum,doğum,birth

In [37]:
#df_genome_search_result_merge2.to_excel("test2.xlsx", index=False)

#### Find Word Image In Visual Genome

In [26]:
image_path = f"/media/kurubal/SSD/Data Scientist/Work/Modern Ways/Project/{lang_folder.capitalize()}/Lemma Stem POS/Data/Visual Genome/images"

In [29]:
image_files_list=[os.path.splitext(f)[0] for f in os.listdir(f"{image_path}/VG_100K_2") if isfile(join(f"{image_path}/VG_100K_2",f))]
image_files_list

['2377381',
 '2377382',
 '2377383',
 '2377384',
 '2377385',
 '2377386',
 '2377387',
 '2377388',
 '2377389',
 '2377390',
 '2377391',
 '2377392',
 '2377394',
 '2377395',
 '2377396',
 '2377397',
 '2377398',
 '2377399',
 '2377400',
 '2377401',
 '2377402',
 '2377403',
 '2377404',
 '2377405',
 '2377407',
 '2377408',
 '2377409',
 '2377410',
 '2377411',
 '2377412',
 '2377413',
 '2377415',
 '2377416',
 '2377417',
 '2377418',
 '2377419',
 '2377420',
 '2377421',
 '2377422',
 '2377423',
 '2377424',
 '2377425',
 '2377426',
 '2377427',
 '2377428',
 '2377429',
 '2377430',
 '2377431',
 '2377432',
 '2377433',
 '2377434',
 '2377435',
 '2377436',
 '2377437',
 '2377438',
 '2377439',
 '2377440',
 '2377441',
 '2377442',
 '2377443',
 '2377444',
 '2377445',
 '2377446',
 '2377447',
 '2377448',
 '2377449',
 '2377450',
 '2377452',
 '2377453',
 '2377454',
 '2377455',
 '2377456',
 '2377458',
 '2377459',
 '2377460',
 '2377461',
 '2377462',
 '2377464',
 '2377465',
 '2377466',
 '2377467',
 '2377468',
 '2377469',
 '2377470',
 '2377471',
 '2377472',
 '2377473',
 '2377474',
 '2377475',
 '2377477',
 '2377478',
 '2377479',
 '2377480',
 '2377481',
 '2377482',
 '2377483',
 '2377485',
 '2377487',
 '2377489',
 '2377490',
 '2377491',
 '2377492',
 '2377493',
 '2377494',
 '2377495',
 '2377496',
 '2377497',
 '2377498',
 '2377499',
 '2377500',
 '2377501',
 '2377502',
 '2377503',
 '2377504',
 '2377505',
 '2377506',
 '2377507',
 '2377508',
 '2377509',
 '2377510',
 '2377511',
 '2377512',
 '2377513',
 '2377514',
 '2377515',
 '2377516',
 '2377517',
 '2377518',
 '2377519',
 '2377520',
 '2377521',
 '2377522',
 '2377523',
 '2377524',
 '2377525',
 '2377526',
 '2377527',
 '2377528',
 '2377529',
 '2377530',
 '2377531',
 '2377532',
 '2377533',
 '2377534',
 '2377535',
 '2377537',
 '2377538',
 '2377539',
 '2377540',
 '2377541',
 '2377542',
 '2377543',
 '2377544',
 '2377545',
 '2377546',
 '2377547',
 '2377548',
 '2377549',
 '2377550',
 '2377551',
 '2377552',
 '2377553',
 '2377554',
 '2377555',
 '2377557',
 '2377558',
 '2377559',
 '2377560',
 '2377561',
 '2377563',
 '2377564',
 '2377565',
 '2377566',
 '2377567',
 '2377568',
 '2377569',
 '2377570',
 '2377571',
 '2377572',
 '2377573',
 '2377574',
 '2377575',
 '2377576',
 '2377577',
 '2377578',
 '2377579',
 '2377580',
 '2377581',
 '2377582',
 '2377583',
 '2377584',
 '2377585',
 '2377586',
 '2377587',
 '2377588',
 '2377589',
 '2377590',
 '2377591',
 '2377592',
 '2377593',
 '2377594',
 '2377595',
 '2377596',
 '2377597',
 '2377598',
 '2377599',
 '2377600',
 '2377601',
 '2377602',
 '2377603',
 '2377604',
 '2377605',
 '2377606',
 '2377607',
 '2377608',
 '2377609',
 '2377610',
 '2377611',
 '2377612',
 '2377613',
 '2377614',
 '2377615',
 '2377616',
 '2377617',
 '2377618',
 '2377619',
 '2377620',
 '2377621',
 '2377622',
 '2377623',
 '2377624',
 '2377625',
 '2377626',
 '2377627',
 '2377628',
 '2377629',
 '2377630',
 '2377631',
 '2377632',
 '2377633',
 '2377634',
 '2377635',
 '2377636',
 '2377637',
 '2377638',
 '2377639',
 '2377640',
 '2377642',
 '2377643',
 '2377644',
 '2377645',
 '2377646',
 '2377647',
 '2377649',
 '2377650',
 '2377651',
 '2377652',
 '2377653',
 '2377654',
 '2377655',
 '2377656',
 '2377657',
 '2377658',
 '2377659',
 '2377660',
 '2377661',
 '2377662',
 '2377663',
 '2377664',
 '2377665',
 '2377666',
 '2377667',
 '2377668',
 '2377669',
 '2377670',
 '2377671',
 '2377672',
 '2377673',
 '2377674',
 '2377675',
 '2377676',
 '2377677',
 '2377678',
 '2377679',
 '2377680',
 '2377681',
 '2377682',
 '2377683',
 '2377684',
 '2377685',
 '2377686',
 '2377687',
 '2377688',
 '2377689',
 '2377690',
 '2377691',
 '2377692',
 '2377693',
 '2377694',
 '2377695',
 '2377696',
 '2377697',
 '2377698',
 '2377699',
 '2377700',
 '2377701',
 '2377703',
 '2377704',
 '2377705',
 '2377706',
 '2377707',
 '2377708',
 '2377709',
 '2377710',
 '2377711',
 '2377712',
 '2377713',
 '2377714',
 '2377715',
 '2377716',
 '2377717',
 '2377718',
 '2377720',
 '2377721',
 '2377722',
 '2377723',
 '2377724',
 '2377726',
 '2377727',
 '2377728',
 '2377729',
 '2377730',
 '2377731',
 '2377733',
 '2377734',
 '2377735',
 '2377736',
 '2377737',
 '2377738',
 '2377739',
 '2377740',
 '2377741',
 '2377742',
 '2377743',
 '2377744',
 '2377745',
 '2377746',
 '2377748',
 '2377750',
 '2377751',
 '2377752',
 '2377753',
 '2377754',
 '2377755',
 '2377756',
 '2377757',
 '2377758',
 '2377759',
 '2377760',
 '2377761',
 '2377762',
 '2377763',
 '2377764',
 '2377765',
 '2377766',
 '2377768',
 '2377769',
 '2377770',
 '2377771',
 '2377772',
 '2377773',
 '2377774',
 '2377775',
 '2377776',
 '2377777',
 '2377778',
 '2377779',
 '2377780',
 '2377781',
 '2377782',
 '2377783',
 '2377784',
 '2377785',
 '2377786',
 '2377787',
 '2377788',
 '2377789',
 '2377790',
 '2377791',
 '2377792',
 '2377793',
 '2377794',
 '2377795',
 '2377796',
 '2377797',
 '2377798',
 '2377799',
 '2377800',
 '2377801',
 '2377802',
 '2377803',
 '2377804',
 '2377805',
 '2377806',
 '2377807',
 '2377808',
 '2377809',
 '2377810',
 '2377811',
 '2377813',
 '2377814',
 '2377815',
 '2377817',
 '2377818',
 '2377819',
 '2377820',
 '2377821',
 '2377822',
 '2377823',
 '2377825',
 '2377826',
 '2377827',
 '2377828',
 '2377829',
 '2377830',
 '2377832',
 '2377833',
 '2377834',
 '2377835',
 '2377836',
 '2377837',
 '2377838',
 '2377839',
 '2377840',
 '2377841',
 '2377842',
 '2377843',
 '2377844',
 '2377845',
 '2377846',
 '2377847',
 '2377848',
 '2377849',
 '2377850',
 '2377851',
 '2377852',
 '2377853',
 '2377856',
 '2377857',
 '2377858',
 '2377859',
 '2377860',
 '2377861',
 '2377862',
 '2377863',
 '2377864',
 '2377865',
 '2377866',
 '2377867',
 '2377868',
 '2377869',
 '2377870',
 '2377871',
 '2377872',
 '2377874',
 '2377875',
 '2377877',
 '2377878',
 '2377879',
 '2377880',
 '2377881',
 '2377882',
 '2377883',
 '2377884',
 '2377885',
 '2377886',
 '2377887',
 '2377888',
 '2377889',
 '2377890',
 '2377891',
 '2377892',
 '2377893',
 '2377894',
 '2377895',
 '2377896',
 '2377897',
 '2377898',
 '2377899',
 '2377900',
 '2377901',
 '2377902',
 '2377903',
 '2377904',
 '2377905',
 '2377906',
 '2377908',
 '2377909',
 '2377910',
 '2377911',
 '2377912',
 '2377913',
 '2377914',
 '2377915',
 '2377916',
 '2377917',
 '2377918',
 '2377919',
 '2377920',
 '2377921',
 '2377922',
 '2377923',
 '2377924',
 '2377925',
 '2377926',
 '2377927',
 '2377928',
 '2377929',
 '2377930',
 '2377931',
 '2377932',
 '2377933',
 '2377934',
 '2377935',
 '2377936',
 '2377937',
 '2377938',
 '2377939',
 '2377940',
 '2377941',
 '2377942',
 '2377943',
 '2377944',
 '2377945',
 '2377946',
 '2377947',
 '2377948',
 '2377949',
 '2377950',
 '2377951',
 '2377952',
 '2377953',
 '2377954',
 '2377955',
 '2377956',
 '2377957',
 '2377958',
 '2377959',
 '2377960',
 '2377961',
 '2377962',
 '2377963',
 '2377964',
 '2377965',
 '2377966',
 '2377967',
 '2377968',
 '2377969',
 '2377970',
 '2377971',
 '2377972',
 '2377973',
 '2377974',
 '2377975',
 '2377976',
 '2377977',
 '2377978',
 '2377980',
 '2377981',
 '2377982',
 '2377983',
 '2377984',
 '2377985',
 '2377986',
 '2377987',
 '2377988',
 '2377989',
 '2377990',
 '2377991',
 '2377992',
 '2377993',
 '2377994',
 '2377995',
 '2377996',
 '2377997',
 '2377998',
 '2377999',
 '2378000',
 '2378001',
 '2378002',
 '2378003',
 '2378004',
 '2378005',
 '2378006',
 '2378007',
 '2378008',
 '2378009',
 '2378010',
 '2378012',
 '2378013',
 '2378014',
 '2378015',
 '2378016',
 '2378017',
 '2378018',
 '2378019',
 '2378020',
 '2378021',
 '2378022',
 '2378023',
 '2378024',
 '2378025',
 '2378026',
 '2378027',
 '2378028',
 '2378029',
 '2378030',
 '2378031',
 '2378032',
 '2378033',
 '2378034',
 '2378035',
 '2378037',
 '2378038',
 '2378039',
 '2378040',
 '2378041',
 '2378042',
 '2378043',
 '2378044',
 '2378045',
 '2378046',
 '2378047',
 '2378048',
 '2378049',
 '2378050',
 '2378051',
 '2378052',
 '2378053',
 '2378054',
 '2378055',
 '2378056',
 '2378057',
 '2378058',
 '2378059',
 '2378060',
 '2378061',
 '2378062',
 '2378063',
 '2378065',
 '2378066',
 '2378067',
 '2378069',
 '2378070',
 '2378071',
 '2378072',
 '2378073',
 '2378074',
 '2378075',
 '2378076',
 '2378077',
 '2378078',
 '2378079',
 '2378080',
 '2378081',
 '2378082',
 '2378083',
 '2378084',
 '2378085',
 '2378086',
 '2378087',
 '2378088',
 '2378089',
 '2378090',
 '2378091',
 '2378092',
 '2378093',
 '2378094',
 '2378095',
 '2378096',
 '2378097',
 '2378098',
 '2378099',
 '2378100',
 '2378101',
 '2378102',
 '2378103',
 '2378104',
 '2378105',
 '2378106',
 '2378108',
 '2378109',
 '2378110',
 '2378111',
 '2378112',
 '2378113',
 '2378115',
 '2378116',
 '2378117',
 '2378118',
 '2378119',
 '2378120',
 '2378121',
 '2378122',
 '2378123',
 '2378124',
 '2378125',
 '2378127',
 '2378128',
 '2378129',
 '2378130',
 '2378131',
 '2378132',
 '2378133',
 '2378134',
 '2378135',
 '2378136',
 '2378137',
 '2378138',
 '2378139',
 '2378140',
 '2378141',
 '2378142',
 '2378143',
 '2378144',
 '2378145',
 '2378146',
 '2378148',
 '2378149',
 '2378151',
 '2378152',
 '2378153',
 '2378154',
 '2378155',
 '2378156',
 '2378157',
 '2378158',
 '2378159',
 '2378160',
 '2378161',
 '2378162',
 '2378163',
 '2378164',
 '2378165',
 '2378166',
 '2378167',
 '2378168',
 '2378169',
 '2378170',
 '2378171',
 '2378172',
 '2378173',
 '2378174',
 '2378175',
 '2378176',
 '2378177',
 '2378178',
 '2378179',
 '2378180',
 '2378181',
 '2378182',
 '2378183',
 '2378184',
 '2378185',
 '2378186',
 '2378187',
 '2378188',
 '2378189',
 '2378190',
 '2378191',
 '2378192',
 '2378194',
 '2378195',
 '2378196',
 '2378197',
 '2378198',
 '2378199',
 '2378200',
 '2378201',
 '2378202',
 '2378203',
 '2378204',
 '2378205',
 '2378206',
 '2378207',
 '2378208',
 '2378209',
 '2378210',
 '2378211',
 '2378212',
 '2378213',
 '2378214',
 '2378215',
 '2378216',
 '2378217',
 '2378218',
 '2378219',
 '2378220',
 '2378221',
 '2378222',
 '2378223',
 '2378224',
 '2378225',
 '2378226',
 '2378227',
 '2378228',
 '2378229',
 '2378230',
 '2378231',
 '2378232',
 '2378233',
 '2378234',
 '2378235',
 '2378236',
 '2378237',
 '2378238',
 '2378239',
 '2378240',
 '2378241',
 '2378242',
 '2378243',
 '2378244',
 '2378245',
 '2378248',
 '2378249',
 '2378250',
 '2378251',
 '2378252',
 '2378253',
 '2378254',
 '2378255',
 '2378256',
 '2378257',
 '2378258',
 '2378259',
 '2378260',
 '2378261',
 '2378262',
 '2378263',
 '2378264',
 '2378265',
 '2378266',
 '2378267',
 '2378268',
 '2378269',
 '2378270',
 '2378271',
 '2378272',
 '2378273',
 '2378274',
 '2378275',
 '2378276',
 '2378277',
 '2378278',
 '2378279',
 '2378280',
 '2378281',
 '2378282',
 '2378283',
 '2378284',
 '2378285',
 '2378286',
 '2378287',
 '2378288',
 '2378289',
 '2378290',
 '2378291',
 '2378292',
 '2378293',
 '2378294',
 '2378295',
 '2378296',
 '2378297',
 '2378298',
 '2378299',
 '2378300',
 '2378301',
 '2378302',
 '2378304',
 '2378305',
 '2378306',
 '2378307',
 '2378308',
 '2378309',
 '2378310',
 '2378311',
 '2378312',
 '2378313',
 '2378314',
 '2378315',
 '2378316',
 '2378317',
 '2378318',
 '2378319',
 '2378321',
 '2378322',
 '2378323',
 '2378324',
 '2378325',
 '2378326',
 '2378327',
 '2378328',
 '2378329',
 '2378330',
 '2378331',
 '2378332',
 '2378333',
 '2378334',
 '2378335',
 '2378336',
 '2378337',
 '2378338',
 '2378339',
 '2378340',
 '2378341',
 '2378342',
 '2378343',
 '2378344',
 '2378345',
 '2378346',
 '2378347',
 '2378348',
 '2378349',
 '2378350',
 '2378351',
 '1',
 '2378353',
 '2378354',
 '2378355',
 '2378356',
 '2378358',
 '2378359',
 '2378360',
 '2378361',
 '2378362',
 '2378363',
 '2378365',
 '2378366',
 '2378367',
 '2378368',
 '2378369',
 '2378370',
 '2378371',
 '2378372',
 '2378373',
 '2378374',
 '2378375',
 '2378376',
 '2378377',
 '2378378',
 '2378379',
 '2378380',
 '2378381',
 '2378382',
 '2378383',
 '2378384',
 '2378385',
 '2378386',
 '2378387',
 '2378388',
 '2378389',
 '2378390',
 '2378391',
 '2378392',
 '2378394',
 '2378395',
 '2378396',
 '2378397',
 '2378398',
 '2378399',
 '2378400',
 '2378401',
 '2378403',
 '2378404',
 '2378405',
 '2378406',
 '2378407',
 '2378408',
 '2378409',
 '2378410',
 '2378411',
 '2378412',
 '2378413',
 '2378414',
 '2378415',
 '2378416',
 '2378417',
 '2378418',
 '2378419',
 '2378420',
 '2378421',
 '2378422',
 '2378423',
 '2378424',
 '2378425',
 '2378426',
 '2378427',
 '2378429',
 '2378430',
 '2378431',
 ...]

In [30]:
len(image_files_list)

43903

#### Copy Move And Delete

In [ ]:
output_file = glob.glob(f"{lang_folder.capitalize()}_45000_Lemma_Pos_Process.xlsx")
output_file

In [ ]:
for l in output_file:
    source = l # source directory
    destination = path
    shutil.copy2(source, destination)

In [ ]:
for j in output_file:
    try:
        os.remove(j)
    except:
        pass